		<td colspan="28" class="row">
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="balb-tahun_laksana-caption field-caption-tv">Tahun laksana</dt>
					<dd id="balb-tahun_laksana-<%%VALUE(ID)%%>" class="balb-tahun_laksana"><%%SELECT%%><%%VALUE(tahun_laksana)%%><%%ENDSELECT%%></dd>

					<dt class="balb-Waran-caption field-caption-tv">Sumber Peruntukan</dt>
					<dd id="balb-Waran-<%%VALUE(ID)%%>" class="balb-Waran"><%%SELECT%%><%%VALUE(Waran)%%><%%ENDSELECT%%></dd>

					<dt class="balb-Kelulusan-caption field-caption-tv">Kelulusan</dt>
					<dd id="balb-Kelulusan-<%%VALUE(ID)%%>" class="balb-Kelulusan"><%%SELECT%%><%%VALUE(Kelulusan)%%><%%ENDSELECT%%></dd>

					<dt class="balb-NamaProjek-caption field-caption-tv">Nama Projek</dt>
					<dd id="balb-NamaProjek-<%%VALUE(ID)%%>" class="balb-NamaProjek"><%%SELECT%%><%%VALUE(NamaProjek)%%><%%ENDSELECT%%></dd>

					<dt class="balb-negeri-caption field-caption-tv">Negeri</dt>
					<dd id="balb-negeri-<%%VALUE(ID)%%>" class="balb-negeri"><%%SELECT%%><%%VALUE(negeri)%%><%%ENDSELECT%%></dd>

					<dt class="balb-Daerah-caption field-caption-tv">Daerah</dt>
					<dd id="balb-Daerah-<%%VALUE(ID)%%>" class="balb-Daerah"><%%SELECT%%><%%VALUE(Daerah)%%><%%ENDSELECT%%></dd>

					<dt class="balb-Parlimen-caption field-caption-tv">Parlimen</dt>
					<dd id="balb-Parlimen-<%%VALUE(ID)%%>" class="balb-Parlimen"><%%SELECT%%><%%VALUE(Parlimen)%%><%%ENDSELECT%%></dd>

					<dt class="balb-DUN-caption field-caption-tv">DUN</dt>
					<dd id="balb-DUN-<%%VALUE(ID)%%>" class="balb-DUN"><%%SELECT%%><%%VALUE(DUN)%%><%%ENDSELECT%%></dd>

					<dt class="balb-penyelia_projek-caption field-caption-tv">Penyelia projek</dt>
					<dd id="balb-penyelia_projek-<%%VALUE(ID)%%>" class="balb-penyelia_projek"><%%SELECT%%><%%VALUE(penyelia_projek)%%><%%ENDSELECT%%></dd>

					<dt class="balb-NamaKontraktor-caption field-caption-tv">Nama Kontraktor</dt>
					<dd id="balb-NamaKontraktor-<%%VALUE(ID)%%>" class="balb-NamaKontraktor"><%%SELECT%%><%%VALUE(NamaKontraktor)%%><%%ENDSELECT%%></dd>

					<dt class="balb-TarikhSST-caption field-caption-tv">Tarikh SST</dt>
					<dd id="balb-TarikhSST-<%%VALUE(ID)%%>" class="balb-TarikhSST"><%%SELECT%%><%%VALUE(TarikhSST)%%><%%ENDSELECT%%></dd>

					<dt class="balb-TarikhSiapSepenuhnya-caption field-caption-tv">Tarikh Siap Sepenuhnya</dt>
					<dd id="balb-TarikhSiapSepenuhnya-<%%VALUE(ID)%%>" class="balb-TarikhSiapSepenuhnya"><%%SELECT%%><%%VALUE(TarikhSiapSepenuhnya)%%><%%ENDSELECT%%></dd>

					<dt class="balb-Panjang-caption field-caption-tv">Panjang Jalan (M)</dt>
					<dd id="balb-Panjang-<%%VALUE(ID)%%>" class="balb-Panjang"><%%SELECT%%><%%VALUE(Panjang)%%><%%ENDSELECT%%></dd>

					<dt class="balb-gambar1-caption field-caption-tv">Gambar</dt>
					<dd id="balb-gambar1-<%%VALUE(ID)%%>" class="balb-gambar1"><a href="<%%BASE_UPLOAD_PATH%%><%%VALUE(gambar1)%%>" data-lightbox="balb-gambar1"><img src="thumbnail.php?i=<%%VALUE(gambar1)%%>&t=balb&f=gambar1&v=tv" class="img-thumbnail"></a></dd>

				</dl>
			</div>
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="balb-Peta-caption field-caption-tv">Peta</dt>
					<dd id="balb-Peta-<%%VALUE(ID)%%>" class="balb-Peta"><%%SELECT%%><img src="<%%GOOGLEMAPTHUMB(Peta)%%>" style="max-width: 50px; max-height: 50px; " ><%%ENDSELECT%%></dd>

					<dt class="balb-PeruntukanDiluluskan-caption field-caption-tv">Peruntukan Diluluskan</dt>
					<dd id="balb-PeruntukanDiluluskan-<%%VALUE(ID)%%>" class="balb-PeruntukanDiluluskan"><%%SELECT%%><%%VALUE(PeruntukanDiluluskan)%%><%%ENDSELECT%%></dd>

					<dt class="balb-Kosprojek-caption field-caption-tv">Kos projek</dt>
					<dd id="balb-Kosprojek-<%%VALUE(ID)%%>" class="balb-Kosprojek"><%%SELECT%%><%%VALUE(Kosprojek)%%><%%ENDSELECT%%></dd>

					<dt class="balb-KKSVO-caption field-caption-tv">KKSVO</dt>
					<dd id="balb-KKSVO-<%%VALUE(ID)%%>" class="balb-KKSVO"><%%SELECT%%><%%VALUE(KKSVO)%%><%%ENDSELECT%%></dd>

					<dt class="balb-Perbelanjaan-caption field-caption-tv">Perbelanjaan</dt>
					<dd id="balb-Perbelanjaan-<%%VALUE(ID)%%>" class="balb-Perbelanjaan"><%%SELECT%%><%%VALUE(Perbelanjaan)%%><%%ENDSELECT%%></dd>

					<dt class="balb-penjimatan-caption field-caption-tv">penjimatan</dt>
					<dd id="balb-penjimatan-<%%VALUE(ID)%%>" class="balb-penjimatan"><%%SELECT%%><%%VALUE(penjimatan)%%><%%ENDSELECT%%></dd>

					<dt class="balb-Status-caption field-caption-tv">Status</dt>
					<dd id="balb-Status-<%%VALUE(ID)%%>" class="balb-Status"><%%SELECT%%><%%VALUE(Status)%%><%%ENDSELECT%%></dd>

					<dt class="balb-PenerimaManfaat-caption field-caption-tv">Penerima Manfaat</dt>
					<dd id="balb-PenerimaManfaat-<%%VALUE(ID)%%>" class="balb-PenerimaManfaat"><%%SELECT%%><%%VALUE(PenerimaManfaat)%%><%%ENDSELECT%%></dd>

					<dt class="balb-sumber_permohonan-caption field-caption-tv">Sumber Permohonan</dt>
					<dd id="balb-sumber_permohonan-<%%VALUE(ID)%%>" class="balb-sumber_permohonan"><%%SELECT%%><%%VALUE(sumber_permohonan)%%><%%ENDSELECT%%></dd>

					<dt class="balb-catatan-caption field-caption-tv">Catatan</dt>
					<dd id="balb-catatan-<%%VALUE(ID)%%>" class="balb-catatan"><%%SELECT%%><%%VALUE(catatan)%%><%%ENDSELECT%%></dd>

					<dt class="balb-inden-caption field-caption-tv">Inden Kerja</dt>
					<dd id="balb-inden-<%%VALUE(ID)%%>" class="balb-inden"><a href="link.php?t=balb&f=inden&i=<%%VALUE(ID)%%>" target="_blank" title="<%%VALUE(inden)%%>" class="btn btn-default"><i class="glyphicon glyphicon-lg glyphicon-file text-info"></i></a></dd>

					<dt class="balb-gambar2-caption field-caption-tv">Gambar </dt>
					<dd id="balb-gambar2-<%%VALUE(ID)%%>" class="balb-gambar2"><a href="<%%BASE_UPLOAD_PATH%%><%%VALUE(gambar2)%%>" data-lightbox="balb-gambar2"><img src="thumbnail.php?i=<%%VALUE(gambar2)%%>&t=balb&f=gambar2&v=tv" class="img-thumbnail"></a></dd>

					<dt class="balb-gambar3-caption field-caption-tv">Gambar  </dt>
					<dd id="balb-gambar3-<%%VALUE(ID)%%>" class="balb-gambar3"><a href="<%%BASE_UPLOAD_PATH%%><%%VALUE(gambar3)%%>" data-lightbox="balb-gambar3"><img src="thumbnail.php?i=<%%VALUE(gambar3)%%>&t=balb&f=gambar3&v=tv" class="img-thumbnail"></a></dd>

					<dt class="balb-updated-caption field-caption-tv">Dikemaskini oleh</dt>
					<dd id="balb-updated-<%%VALUE(ID)%%>" class="balb-updated"><%%SELECT%%><%%VALUE(updated)%%><%%ENDSELECT%%></dd>

				</dl>
			</div>
		</td>
		<script>$j(function() {
			var e_inden = '<%%VALUE(inden)%%>'; if(e_inden == '' || e_inden == '&nbsp;') $j(/*<*/ '#balb-inden-<%%VALUE(ID)%%>' /*>*/).html('');
		});</script>
