<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the BLACKLIST_init() hook (in hooks/BLACKLIST.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="BLACKLIST-disenaraihitamkan-<%%VALUE(ID)%%>" class="BLACKLIST-disenaraihitamkan"><%%VALUE(disenaraihitamkan)%%></td>
		<td id="BLACKLIST-sebab-<%%VALUE(ID)%%>" class="BLACKLIST-sebab"><%%VALUE(sebab)%%></td>
