		<td colspan="27" class="row">
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="JALB-tahun_laksana-caption field-caption-tv">Tahun laksana</dt>
					<dd id="JALB-tahun_laksana-<%%VALUE(id)%%>" class="JALB-tahun_laksana"><%%VALUE(tahun_laksana)%%></dd>

					<dt class="JALB-NamaProjek-caption field-caption-tv">Nama Projek</dt>
					<dd id="JALB-NamaProjek-<%%VALUE(id)%%>" class="JALB-NamaProjek"><%%VALUE(NamaProjek)%%></dd>

					<dt class="JALB-negeri-caption field-caption-tv">Negeri</dt>
					<dd id="JALB-negeri-<%%VALUE(id)%%>" class="JALB-negeri"><%%VALUE(negeri)%%></dd>

					<dt class="JALB-Daerah-caption field-caption-tv">Daerah</dt>
					<dd id="JALB-Daerah-<%%VALUE(id)%%>" class="JALB-Daerah"><%%VALUE(Daerah)%%></dd>

					<dt class="JALB-Parlimen-caption field-caption-tv">Parlimen</dt>
					<dd id="JALB-Parlimen-<%%VALUE(id)%%>" class="JALB-Parlimen"><%%VALUE(Parlimen)%%></dd>

					<dt class="JALB-DUN-caption field-caption-tv">DUN</dt>
					<dd id="JALB-DUN-<%%VALUE(id)%%>" class="JALB-DUN"><%%VALUE(DUN)%%></dd>

					<dt class="JALB-AgensiPelaksana-caption field-caption-tv">Agensi Pelaksana</dt>
					<dd id="JALB-AgensiPelaksana-<%%VALUE(id)%%>" class="JALB-AgensiPelaksana"><%%VALUE(AgensiPelaksana)%%></dd>

					<dt class="JALB-NamaKontraktor-caption field-caption-tv">Nama Kontraktor</dt>
					<dd id="JALB-NamaKontraktor-<%%VALUE(id)%%>" class="JALB-NamaKontraktor"><%%VALUE(NamaKontraktor)%%></dd>

					<dt class="JALB-TarikhSST-caption field-caption-tv">Tarikh SST</dt>
					<dd id="JALB-TarikhSST-<%%VALUE(id)%%>" class="JALB-TarikhSST"><%%VALUE(TarikhSST)%%></dd>

					<dt class="JALB-TarikhSiapSepenuhnya-caption field-caption-tv">Tarikh Siap Sepenuhnya</dt>
					<dd id="JALB-TarikhSiapSepenuhnya-<%%VALUE(id)%%>" class="JALB-TarikhSiapSepenuhnya"><%%VALUE(TarikhSiapSepenuhnya)%%></dd>

					<dt class="JALB-speck-caption field-caption-tv">Spesifikasi</dt>
					<dd id="JALB-speck-<%%VALUE(id)%%>" class="JALB-speck"><%%VALUE(speck)%%></dd>

					<dt class="JALB-Panjang-caption field-caption-tv">Panjang Jalan (KM)</dt>
					<dd id="JALB-Panjang-<%%VALUE(id)%%>" class="JALB-Panjang"><%%VALUE(Panjang)%%></dd>

					<dt class="JALB-gambar1-caption field-caption-tv">Gambar</dt>
					<dd id="JALB-gambar1-<%%VALUE(id)%%>" class="JALB-gambar1"><a href="<%%BASE_UPLOAD_PATH%%><%%VALUE(gambar1)%%>" data-lightbox="JALB-gambar1"><img src="thumbnail.php?i=<%%VALUE(gambar1)%%>&t=JALB&f=gambar1&v=tv" class="img-thumbnail"></a></dd>

					<dt class="JALB-gambar2-caption field-caption-tv">Gambar </dt>
					<dd id="JALB-gambar2-<%%VALUE(id)%%>" class="JALB-gambar2"><a href="<%%BASE_UPLOAD_PATH%%><%%VALUE(gambar2)%%>" data-lightbox="JALB-gambar2"><img src="thumbnail.php?i=<%%VALUE(gambar2)%%>&t=JALB&f=gambar2&v=tv" class="img-thumbnail"></a></dd>

				</dl>
			</div>
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="JALB-Latitud-caption field-caption-tv">Latitud</dt>
					<dd id="JALB-Latitud-<%%VALUE(id)%%>" class="JALB-Latitud"><%%VALUE(Latitud)%%></dd>

					<dt class="JALB-Peta-caption field-caption-tv">Peta</dt>
					<dd id="JALB-Peta-<%%VALUE(id)%%>" class="JALB-Peta"><img src="<%%GOOGLEMAPTHUMB(Peta)%%>" style="max-width: 50px; max-height: 50px; " ></dd>

					<dt class="JALB-kos_siling-caption field-caption-tv">Siling Projek</dt>
					<dd id="JALB-kos_siling-<%%VALUE(id)%%>" class="JALB-kos_siling"><%%VALUE(kos_siling)%%></dd>

					<dt class="JALB-Kosprojek-caption field-caption-tv">Kos projek</dt>
					<dd id="JALB-Kosprojek-<%%VALUE(id)%%>" class="JALB-Kosprojek"><%%VALUE(Kosprojek)%%></dd>

					<dt class="JALB-Status-caption field-caption-tv">Status</dt>
					<dd id="JALB-Status-<%%VALUE(id)%%>" class="JALB-Status"><%%VALUE(Status)%%></dd>

					<dt class="JALB-progress_jadual-caption field-caption-tv">% Progress jadual</dt>
					<dd id="JALB-progress_jadual-<%%VALUE(id)%%>" class="JALB-progress_jadual"><%%VALUE(progress_jadual)%%></dd>

					<dt class="JALB-progress_sebenar-caption field-caption-tv">% Progress sebenar</dt>
					<dd id="JALB-progress_sebenar-<%%VALUE(id)%%>" class="JALB-progress_sebenar"><%%VALUE(progress_sebenar)%%></dd>

					<dt class="JALB-jadual-caption field-caption-tv">Dahulu/Lewat Jadual</dt>
					<dd id="JALB-jadual-<%%VALUE(id)%%>" class="JALB-jadual"><%%VALUE(jadual)%%></dd>

					<dt class="JALB-sumber_permohonan-caption field-caption-tv">Sumber Permohonan</dt>
					<dd id="JALB-sumber_permohonan-<%%VALUE(id)%%>" class="JALB-sumber_permohonan"><%%VALUE(sumber_permohonan)%%></dd>

					<dt class="JALB-PenerimaManfaat-caption field-caption-tv">Penerima Manfaat</dt>
					<dd id="JALB-PenerimaManfaat-<%%VALUE(id)%%>" class="JALB-PenerimaManfaat"><%%VALUE(PenerimaManfaat)%%></dd>

					<dt class="JALB-gambar3-caption field-caption-tv">Gambar  </dt>
					<dd id="JALB-gambar3-<%%VALUE(id)%%>" class="JALB-gambar3"><a href="<%%BASE_UPLOAD_PATH%%><%%VALUE(gambar3)%%>" data-lightbox="JALB-gambar3"><img src="thumbnail.php?i=<%%VALUE(gambar3)%%>&t=JALB&f=gambar3&v=tv" class="img-thumbnail"></a></dd>

					<dt class="JALB-gambar4-caption field-caption-tv">Gambar  </dt>
					<dd id="JALB-gambar4-<%%VALUE(id)%%>" class="JALB-gambar4"><a href="<%%BASE_UPLOAD_PATH%%><%%VALUE(gambar4)%%>" data-lightbox="JALB-gambar4"><img src="thumbnail.php?i=<%%VALUE(gambar4)%%>&t=JALB&f=gambar4&v=tv" class="img-thumbnail"></a></dd>

					<dt class="JALB-updated-caption field-caption-tv">Dikemaskini oleh</dt>
					<dd id="JALB-updated-<%%VALUE(id)%%>" class="JALB-updated"><%%VALUE(updated)%%></dd>

				</dl>
			</div>
		</td>
