		<td colspan="30" class="row">
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="JL-tahun_laksana-caption field-caption-tv">Tahun laksana</dt>
					<dd id="JL-tahun_laksana-<%%VALUE(id)%%>" class="JL-tahun_laksana"><%%SELECT%%><%%VALUE(tahun_laksana)%%><%%ENDSELECT%%></dd>

					<dt class="JL-Kelulusan-caption field-caption-tv">Kelulusan</dt>
					<dd id="JL-Kelulusan-<%%VALUE(id)%%>" class="JL-Kelulusan"><%%SELECT%%><%%VALUE(Kelulusan)%%><%%ENDSELECT%%></dd>

					<dt class="JL-NamaProjek-caption field-caption-tv">Nama Projek</dt>
					<dd id="JL-NamaProjek-<%%VALUE(id)%%>" class="JL-NamaProjek"><%%SELECT%%><%%VALUE(NamaProjek)%%><%%ENDSELECT%%></dd>

					<dt class="JL-negeri-caption field-caption-tv">Negeri</dt>
					<dd id="JL-negeri-<%%VALUE(id)%%>" class="JL-negeri"><%%SELECT%%><%%VALUE(negeri)%%><%%ENDSELECT%%></dd>

					<dt class="JL-Daerah-caption field-caption-tv">Daerah</dt>
					<dd id="JL-Daerah-<%%VALUE(id)%%>" class="JL-Daerah"><%%SELECT%%><%%VALUE(Daerah)%%><%%ENDSELECT%%></dd>

					<dt class="JL-Parlimen-caption field-caption-tv">Parlimen</dt>
					<dd id="JL-Parlimen-<%%VALUE(id)%%>" class="JL-Parlimen"><%%SELECT%%><%%VALUE(Parlimen)%%><%%ENDSELECT%%></dd>

					<dt class="JL-DUN-caption field-caption-tv">DUN</dt>
					<dd id="JL-DUN-<%%VALUE(id)%%>" class="JL-DUN"><%%SELECT%%><%%VALUE(DUN)%%><%%ENDSELECT%%></dd>

					<dt class="JL-NamaKontraktor-caption field-caption-tv">Nama Kontraktor</dt>
					<dd id="JL-NamaKontraktor-<%%VALUE(id)%%>" class="JL-NamaKontraktor"><%%SELECT%%><%%VALUE(NamaKontraktor)%%><%%ENDSELECT%%></dd>

					<dt class="JL-TarikhSST-caption field-caption-tv">Tarikh SST </dt>
					<dd id="JL-TarikhSST-<%%VALUE(id)%%>" class="JL-TarikhSST"><%%SELECT%%><%%VALUE(TarikhSST)%%><%%ENDSELECT%%></dd>

					<dt class="JL-TarikhSiapSepenuhnya-caption field-caption-tv">Tarikh Siap Sepenuhnya</dt>
					<dd id="JL-TarikhSiapSepenuhnya-<%%VALUE(id)%%>" class="JL-TarikhSiapSepenuhnya"><%%SELECT%%><%%VALUE(TarikhSiapSepenuhnya)%%><%%ENDSELECT%%></dd>

					<dt class="JL-PanjangJalanM-caption field-caption-tv"> Panjang Jalan (M)</dt>
					<dd id="JL-PanjangJalanM-<%%VALUE(id)%%>" class="JL-PanjangJalanM text-right"><%%SELECT%%><%%VALUE(PanjangJalanM)%%><%%ENDSELECT%%></dd>

					<dt class="JL-LebarM-caption field-caption-tv">Lebar (M)</dt>
					<dd id="JL-LebarM-<%%VALUE(id)%%>" class="JL-LebarM text-right"><%%SELECT%%><%%VALUE(LebarM)%%><%%ENDSELECT%%></dd>

					<dt class="JL-skop-caption field-caption-tv">Skop Kerja</dt>
					<dd id="JL-skop-<%%VALUE(id)%%>" class="JL-skop"><%%SELECT%%><%%VALUE(skop)%%><%%ENDSELECT%%></dd>

					<dt class="JL-gambar_projek-caption field-caption-tv">Gambar </dt>
					<dd id="JL-gambar_projek-<%%VALUE(id)%%>" class="JL-gambar_projek"><a href="<%%BASE_UPLOAD_PATH%%><%%VALUE(gambar_projek)%%>" data-lightbox="JL-gambar_projek"><img src="thumbnail.php?i=<%%VALUE(gambar_projek)%%>&t=JL&f=gambar_projek&v=tv" class="img-thumbnail"></a></dd>

					<dt class="JL-Peta-caption field-caption-tv">Peta</dt>
					<dd id="JL-Peta-<%%VALUE(id)%%>" class="JL-Peta"><%%SELECT%%><img src="<%%GOOGLEMAPTHUMB(Peta)%%>" style="max-width: 50px; max-height: 50px; " ><%%ENDSELECT%%></dd>

				</dl>
			</div>
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="JL-PeruntukanDiluluskan-caption field-caption-tv">Peruntukan Diluluskan</dt>
					<dd id="JL-PeruntukanDiluluskan-<%%VALUE(id)%%>" class="JL-PeruntukanDiluluskan"><%%SELECT%%><%%VALUE(PeruntukanDiluluskan)%%><%%ENDSELECT%%></dd>

					<dt class="JL-Kosprojek-caption field-caption-tv">Kos projek</dt>
					<dd id="JL-Kosprojek-<%%VALUE(id)%%>" class="JL-Kosprojek"><%%SELECT%%><%%VALUE(Kosprojek)%%><%%ENDSELECT%%></dd>

					<dt class="JL-KKSVO-caption field-caption-tv">KKS / VO</dt>
					<dd id="JL-KKSVO-<%%VALUE(id)%%>" class="JL-KKSVO text-right"><%%SELECT%%><%%VALUE(KKSVO)%%><%%ENDSELECT%%></dd>

					<dt class="JL-Perbelanjaan-caption field-caption-tv">Perbelanjaan</dt>
					<dd id="JL-Perbelanjaan-<%%VALUE(id)%%>" class="JL-Perbelanjaan"><%%SELECT%%><%%VALUE(Perbelanjaan)%%><%%ENDSELECT%%></dd>

					<dt class="JL-Penjimatan-caption field-caption-tv">Penjimatan</dt>
					<dd id="JL-Penjimatan-<%%VALUE(id)%%>" class="JL-Penjimatan"><%%SELECT%%><%%VALUE(Penjimatan)%%><%%ENDSELECT%%></dd>

					<dt class="JL-Status-caption field-caption-tv">Status</dt>
					<dd id="JL-Status-<%%VALUE(id)%%>" class="JL-Status"><%%SELECT%%><%%VALUE(Status)%%><%%ENDSELECT%%></dd>

					<dt class="JL-penyelia_projek-caption field-caption-tv">Penyelia projek</dt>
					<dd id="JL-penyelia_projek-<%%VALUE(id)%%>" class="JL-penyelia_projek"><%%SELECT%%><%%VALUE(penyelia_projek)%%><%%ENDSELECT%%></dd>

					<dt class="JL-PenerimaManfaat-caption field-caption-tv">Penerima Manfaat</dt>
					<dd id="JL-PenerimaManfaat-<%%VALUE(id)%%>" class="JL-PenerimaManfaat"><%%SELECT%%><%%VALUE(PenerimaManfaat)%%><%%ENDSELECT%%></dd>

					<dt class="JL-sumber_permohonan-caption field-caption-tv">Sumber Permohonan</dt>
					<dd id="JL-sumber_permohonan-<%%VALUE(id)%%>" class="JL-sumber_permohonan"><%%SELECT%%><%%VALUE(sumber_permohonan)%%><%%ENDSELECT%%></dd>

					<dt class="JL-catatan-caption field-caption-tv">Catatan</dt>
					<dd id="JL-catatan-<%%VALUE(id)%%>" class="JL-catatan"><%%SELECT%%><%%VALUE(catatan)%%><%%ENDSELECT%%></dd>

					<dt class="JL-inden-caption field-caption-tv">Inden Kerja</dt>
					<dd id="JL-inden-<%%VALUE(id)%%>" class="JL-inden"><a href="link.php?t=JL&f=inden&i=<%%VALUE(id)%%>" target="_blank"><%%VALUE(inden)%%></a></dd>

					<dt class="JL-Baucer-caption field-caption-tv">Baucer Bayaran</dt>
					<dd id="JL-Baucer-<%%VALUE(id)%%>" class="JL-Baucer"><a href="link.php?t=JL&f=Baucer&i=<%%VALUE(id)%%>" target="_blank"><%%VALUE(Baucer)%%></a></dd>

					<dt class="JL-gambar_projek_1-caption field-caption-tv">Gambar  </dt>
					<dd id="JL-gambar_projek_1-<%%VALUE(id)%%>" class="JL-gambar_projek_1"><a href="<%%BASE_UPLOAD_PATH%%><%%VALUE(gambar_projek_1)%%>" data-lightbox="JL-gambar_projek_1"><img src="thumbnail.php?i=<%%VALUE(gambar_projek_1)%%>&t=JL&f=gambar_projek_1&v=tv" class="img-thumbnail"></a></dd>

					<dt class="JL-gambar_projek_2-caption field-caption-tv">Gambar   </dt>
					<dd id="JL-gambar_projek_2-<%%VALUE(id)%%>" class="JL-gambar_projek_2"><a href="<%%BASE_UPLOAD_PATH%%><%%VALUE(gambar_projek_2)%%>" data-lightbox="JL-gambar_projek_2"><img src="thumbnail.php?i=<%%VALUE(gambar_projek_2)%%>&t=JL&f=gambar_projek_2&v=tv" class="img-thumbnail"></a></dd>

					<dt class="JL-updated-caption field-caption-tv">Dikemaskini Oleh</dt>
					<dd id="JL-updated-<%%VALUE(id)%%>" class="JL-updated"><%%SELECT%%><%%VALUE(updated)%%><%%ENDSELECT%%></dd>

				</dl>
			</div>
		</td>
		<script>$j(function() {
			var e_inden = '<%%VALUE(inden)%%>'; if(e_inden == '' || e_inden == '&nbsp;') $j(/*<*/ '#JL-inden-<%%VALUE(id)%%>' /*>*/).html('');
			var e_Baucer = '<%%VALUE(Baucer)%%>'; if(e_Baucer == '' || e_Baucer == '&nbsp;') $j(/*<*/ '#JL-Baucer-<%%VALUE(id)%%>' /*>*/).html('');
		});</script>
