		<td colspan="30" class="row">
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="JL-tahun_laksana-caption field-caption-tv">Tahun laksana</dt>
					<dd id="JL-tahun_laksana-<%%VALUE(id)%%>" class="JL-tahun_laksana"><%%VALUE(tahun_laksana)%%></dd>

					<dt class="JL-Kelulusan-caption field-caption-tv">Kelulusan</dt>
					<dd id="JL-Kelulusan-<%%VALUE(id)%%>" class="JL-Kelulusan"><%%VALUE(Kelulusan)%%></dd>

					<dt class="JL-NamaProjek-caption field-caption-tv">Nama Projek</dt>
					<dd id="JL-NamaProjek-<%%VALUE(id)%%>" class="JL-NamaProjek"><%%VALUE(NamaProjek)%%></dd>

					<dt class="JL-negeri-caption field-caption-tv">Negeri</dt>
					<dd id="JL-negeri-<%%VALUE(id)%%>" class="JL-negeri"><%%VALUE(negeri)%%></dd>

					<dt class="JL-Daerah-caption field-caption-tv">Daerah</dt>
					<dd id="JL-Daerah-<%%VALUE(id)%%>" class="JL-Daerah"><%%VALUE(Daerah)%%></dd>

					<dt class="JL-Parlimen-caption field-caption-tv">Parlimen</dt>
					<dd id="JL-Parlimen-<%%VALUE(id)%%>" class="JL-Parlimen"><%%VALUE(Parlimen)%%></dd>

					<dt class="JL-DUN-caption field-caption-tv">DUN</dt>
					<dd id="JL-DUN-<%%VALUE(id)%%>" class="JL-DUN"><%%VALUE(DUN)%%></dd>

					<dt class="JL-NamaKontraktor-caption field-caption-tv">Nama Kontraktor</dt>
					<dd id="JL-NamaKontraktor-<%%VALUE(id)%%>" class="JL-NamaKontraktor"><%%VALUE(NamaKontraktor)%%></dd>

					<dt class="JL-TarikhSST-caption field-caption-tv">Tarikh SST </dt>
					<dd id="JL-TarikhSST-<%%VALUE(id)%%>" class="JL-TarikhSST"><%%VALUE(TarikhSST)%%></dd>

					<dt class="JL-TarikhSiapSepenuhnya-caption field-caption-tv">Tarikh Siap Sepenuhnya</dt>
					<dd id="JL-TarikhSiapSepenuhnya-<%%VALUE(id)%%>" class="JL-TarikhSiapSepenuhnya"><%%VALUE(TarikhSiapSepenuhnya)%%></dd>

					<dt class="JL-PanjangJalanM-caption field-caption-tv"> Panjang Jalan (M)</dt>
					<dd id="JL-PanjangJalanM-<%%VALUE(id)%%>" class="JL-PanjangJalanM text-right"><%%VALUE(PanjangJalanM)%%></dd>

					<dt class="JL-LebarM-caption field-caption-tv">Lebar (M)</dt>
					<dd id="JL-LebarM-<%%VALUE(id)%%>" class="JL-LebarM text-right"><%%VALUE(LebarM)%%></dd>

					<dt class="JL-skop-caption field-caption-tv">Skop Kerja</dt>
					<dd id="JL-skop-<%%VALUE(id)%%>" class="JL-skop"><%%VALUE(skop)%%></dd>

					<dt class="JL-gambar_projek-caption field-caption-tv">Gambar </dt>
					<dd id="JL-gambar_projek-<%%VALUE(id)%%>" class="JL-gambar_projek"><a href="<%%BASE_UPLOAD_PATH%%><%%VALUE(gambar_projek)%%>" data-lightbox="JL-gambar_projek"><img src="thumbnail.php?i=<%%VALUE(gambar_projek)%%>&t=JL&f=gambar_projek&v=tv" class="img-thumbnail"></a></dd>

					<dt class="JL-Peta-caption field-caption-tv">Peta</dt>
					<dd id="JL-Peta-<%%VALUE(id)%%>" class="JL-Peta"><img src="<%%GOOGLEMAPTHUMB(Peta)%%>" style="max-width: 50px; max-height: 50px; " ></dd>

				</dl>
			</div>
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="JL-PeruntukanDiluluskan-caption field-caption-tv">Peruntukan Diluluskan</dt>
					<dd id="JL-PeruntukanDiluluskan-<%%VALUE(id)%%>" class="JL-PeruntukanDiluluskan"><%%VALUE(PeruntukanDiluluskan)%%></dd>

					<dt class="JL-Kosprojek-caption field-caption-tv">Kos projek</dt>
					<dd id="JL-Kosprojek-<%%VALUE(id)%%>" class="JL-Kosprojek"><%%VALUE(Kosprojek)%%></dd>

					<dt class="JL-KKSVO-caption field-caption-tv">KKS / VO</dt>
					<dd id="JL-KKSVO-<%%VALUE(id)%%>" class="JL-KKSVO text-right"><%%VALUE(KKSVO)%%></dd>

					<dt class="JL-Perbelanjaan-caption field-caption-tv">Perbelanjaan</dt>
					<dd id="JL-Perbelanjaan-<%%VALUE(id)%%>" class="JL-Perbelanjaan"><%%VALUE(Perbelanjaan)%%></dd>

					<dt class="JL-Penjimatan-caption field-caption-tv">Penjimatan</dt>
					<dd id="JL-Penjimatan-<%%VALUE(id)%%>" class="JL-Penjimatan"><%%VALUE(Penjimatan)%%></dd>

					<dt class="JL-Status-caption field-caption-tv">Status</dt>
					<dd id="JL-Status-<%%VALUE(id)%%>" class="JL-Status"><%%VALUE(Status)%%></dd>

					<dt class="JL-penyelia_projek-caption field-caption-tv">Penyelia projek</dt>
					<dd id="JL-penyelia_projek-<%%VALUE(id)%%>" class="JL-penyelia_projek"><%%VALUE(penyelia_projek)%%></dd>

					<dt class="JL-PenerimaManfaat-caption field-caption-tv">Penerima Manfaat</dt>
					<dd id="JL-PenerimaManfaat-<%%VALUE(id)%%>" class="JL-PenerimaManfaat"><%%VALUE(PenerimaManfaat)%%></dd>

					<dt class="JL-sumber_permohonan-caption field-caption-tv">Sumber Permohonan</dt>
					<dd id="JL-sumber_permohonan-<%%VALUE(id)%%>" class="JL-sumber_permohonan"><%%VALUE(sumber_permohonan)%%></dd>

					<dt class="JL-catatan-caption field-caption-tv">Catatan</dt>
					<dd id="JL-catatan-<%%VALUE(id)%%>" class="JL-catatan"><%%VALUE(catatan)%%></dd>

					<dt class="JL-inden-caption field-caption-tv">Inden Kerja</dt>
					<dd id="JL-inden-<%%VALUE(id)%%>" class="JL-inden"><a href="link.php?t=JL&f=inden&i=<%%VALUE(id)%%>" target="_blank"><%%VALUE(inden)%%></a></dd>

					<dt class="JL-Baucer-caption field-caption-tv">Baucer Bayaran</dt>
					<dd id="JL-Baucer-<%%VALUE(id)%%>" class="JL-Baucer"><a href="link.php?t=JL&f=Baucer&i=<%%VALUE(id)%%>" target="_blank"><%%VALUE(Baucer)%%></a></dd>

					<dt class="JL-gambar_projek_1-caption field-caption-tv">Gambar  </dt>
					<dd id="JL-gambar_projek_1-<%%VALUE(id)%%>" class="JL-gambar_projek_1"><a href="<%%BASE_UPLOAD_PATH%%><%%VALUE(gambar_projek_1)%%>" data-lightbox="JL-gambar_projek_1"><img src="thumbnail.php?i=<%%VALUE(gambar_projek_1)%%>&t=JL&f=gambar_projek_1&v=tv" class="img-thumbnail"></a></dd>

					<dt class="JL-gambar_projek_2-caption field-caption-tv">Gambar   </dt>
					<dd id="JL-gambar_projek_2-<%%VALUE(id)%%>" class="JL-gambar_projek_2"><a href="<%%BASE_UPLOAD_PATH%%><%%VALUE(gambar_projek_2)%%>" data-lightbox="JL-gambar_projek_2"><img src="thumbnail.php?i=<%%VALUE(gambar_projek_2)%%>&t=JL&f=gambar_projek_2&v=tv" class="img-thumbnail"></a></dd>

					<dt class="JL-updated-caption field-caption-tv">Dikemaskini Oleh</dt>
					<dd id="JL-updated-<%%VALUE(id)%%>" class="JL-updated"><%%VALUE(updated)%%></dd>

				</dl>
			</div>
		</td>
		<script>$j(function() {
			var e_inden = '<%%VALUE(inden)%%>'; if(e_inden == '' || e_inden == '&nbsp;') $j(/*<*/ '#JL-inden-<%%VALUE(id)%%>' /*>*/).html('');
			var e_Baucer = '<%%VALUE(Baucer)%%>'; if(e_Baucer == '' || e_Baucer == '&nbsp;') $j(/*<*/ '#JL-Baucer-<%%VALUE(id)%%>' /*>*/).html('');
		});</script>
