		<td colspan="34" class="row">
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="jpd_test-tahun_laksana-caption field-caption-tv">Tahun laksana</dt>
					<dd id="jpd_test-tahun_laksana-<%%VALUE(ID)%%>" class="jpd_test-tahun_laksana"><%%SELECT%%><%%VALUE(tahun_laksana)%%><%%ENDSELECT%%></dd>

					<dt class="jpd_test-Kelulusan-caption field-caption-tv">Kelulusan</dt>
					<dd id="jpd_test-Kelulusan-<%%VALUE(ID)%%>" class="jpd_test-Kelulusan"><%%SELECT%%><%%VALUE(Kelulusan)%%><%%ENDSELECT%%></dd>

					<dt class="jpd_test-NamaProjek-caption field-caption-tv">Nama Projek</dt>
					<dd id="jpd_test-NamaProjek-<%%VALUE(ID)%%>" class="jpd_test-NamaProjek"><%%SELECT%%><%%VALUE(NamaProjek)%%><%%ENDSELECT%%></dd>

					<dt class="jpd_test-negeri-caption field-caption-tv">Negeri</dt>
					<dd id="jpd_test-negeri-<%%VALUE(ID)%%>" class="jpd_test-negeri"><%%SELECT%%><%%VALUE(negeri)%%><%%ENDSELECT%%></dd>

					<dt class="jpd_test-Daerah-caption field-caption-tv">Daerah</dt>
					<dd id="jpd_test-Daerah-<%%VALUE(ID)%%>" class="jpd_test-Daerah"><%%SELECT%%><%%VALUE(Daerah)%%><%%ENDSELECT%%></dd>

					<dt class="jpd_test-Parlimen-caption field-caption-tv">Parlimen</dt>
					<dd id="jpd_test-Parlimen-<%%VALUE(ID)%%>" class="jpd_test-Parlimen"><%%SELECT%%><%%VALUE(Parlimen)%%><%%ENDSELECT%%></dd>

					<dt class="jpd_test-DUN-caption field-caption-tv">DUN</dt>
					<dd id="jpd_test-DUN-<%%VALUE(ID)%%>" class="jpd_test-DUN"><%%SELECT%%><%%VALUE(DUN)%%><%%ENDSELECT%%></dd>

					<dt class="jpd_test-AgensiPelaksana-caption field-caption-tv">Agensi Pelaksana</dt>
					<dd id="jpd_test-AgensiPelaksana-<%%VALUE(ID)%%>" class="jpd_test-AgensiPelaksana"><%%SELECT%%><%%VALUE(AgensiPelaksana)%%><%%ENDSELECT%%></dd>

					<dt class="jpd_test-agensi_pembayar-caption field-caption-tv">AGENSI PEMBAYAR</dt>
					<dd id="jpd_test-agensi_pembayar-<%%VALUE(ID)%%>" class="jpd_test-agensi_pembayar"><%%SELECT%%><%%VALUE(agensi_pembayar)%%><%%ENDSELECT%%></dd>

					<dt class="jpd_test-penyelia_projek-caption field-caption-tv">Penyelia projek</dt>
					<dd id="jpd_test-penyelia_projek-<%%VALUE(ID)%%>" class="jpd_test-penyelia_projek"><%%SELECT%%><%%VALUE(penyelia_projek)%%><%%ENDSELECT%%></dd>

					<dt class="jpd_test-NamaKontraktor-caption field-caption-tv">Nama Kontraktor</dt>
					<dd id="jpd_test-NamaKontraktor-<%%VALUE(ID)%%>" class="jpd_test-NamaKontraktor"><%%SELECT%%><%%VALUE(NamaKontraktor)%%><%%ENDSELECT%%></dd>

					<dt class="jpd_test-TarikhSST-caption field-caption-tv">Tarikh SST</dt>
					<dd id="jpd_test-TarikhSST-<%%VALUE(ID)%%>" class="jpd_test-TarikhSST"><%%SELECT%%><%%VALUE(TarikhSST)%%><%%ENDSELECT%%></dd>

					<dt class="jpd_test-TarikhSiapProjek-caption field-caption-tv">Tarikh Siap Projek</dt>
					<dd id="jpd_test-TarikhSiapProjek-<%%VALUE(ID)%%>" class="jpd_test-TarikhSiapProjek"><%%SELECT%%><%%VALUE(TarikhSiapProjek)%%><%%ENDSELECT%%></dd>

					<dt class="jpd_test-TarikhSiapSepenuhnya-caption field-caption-tv">Tarikh Siap Sepenuhnya</dt>
					<dd id="jpd_test-TarikhSiapSepenuhnya-<%%VALUE(ID)%%>" class="jpd_test-TarikhSiapSepenuhnya"><%%SELECT%%><%%VALUE(TarikhSiapSepenuhnya)%%><%%ENDSELECT%%></dd>

					<dt class="jpd_test-PanjangJalanM-caption field-caption-tv">Panjang Jalan (M)</dt>
					<dd id="jpd_test-PanjangJalanM-<%%VALUE(ID)%%>" class="jpd_test-PanjangJalanM"><%%SELECT%%><%%VALUE(PanjangJalanM)%%><%%ENDSELECT%%></dd>

					<dt class="jpd_test-gambar1-caption field-caption-tv">Gambar</dt>
					<dd id="jpd_test-gambar1-<%%VALUE(ID)%%>" class="jpd_test-gambar1"><a href="<%%BASE_UPLOAD_PATH%%><%%VALUE(gambar1)%%>" data-lightbox="jpd_test-gambar1"><img src="thumbnail.php?i=<%%VALUE(gambar1)%%>&t=jpd_test&f=gambar1&v=tv" class="img-thumbnail"></a></dd>

					<dt class="jpd_test-LebarM-caption field-caption-tv">Lebar (M)</dt>
					<dd id="jpd_test-LebarM-<%%VALUE(ID)%%>" class="jpd_test-LebarM"><%%SELECT%%><%%VALUE(LebarM)%%><%%ENDSELECT%%></dd>

				</dl>
			</div>
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="jpd_test-Latitud-caption field-caption-tv">Latitud</dt>
					<dd id="jpd_test-Latitud-<%%VALUE(ID)%%>" class="jpd_test-Latitud"><%%SELECT%%><%%VALUE(Latitud)%%><%%ENDSELECT%%></dd>

					<dt class="jpd_test-Longitud-caption field-caption-tv">Longitud</dt>
					<dd id="jpd_test-Longitud-<%%VALUE(ID)%%>" class="jpd_test-Longitud"><%%SELECT%%><%%VALUE(Longitud)%%><%%ENDSELECT%%></dd>

					<dt class="jpd_test-PeruntukanDiluluskan-caption field-caption-tv">Peruntukan Diluluskan</dt>
					<dd id="jpd_test-PeruntukanDiluluskan-<%%VALUE(ID)%%>" class="jpd_test-PeruntukanDiluluskan"><%%SELECT%%><%%VALUE(PeruntukanDiluluskan)%%><%%ENDSELECT%%></dd>

					<dt class="jpd_test-peruntukan_dipinda-caption field-caption-tv">Peruntukan Asal</dt>
					<dd id="jpd_test-peruntukan_dipinda-<%%VALUE(ID)%%>" class="jpd_test-peruntukan_dipinda"><%%SELECT%%><%%VALUE(peruntukan_dipinda)%%><%%ENDSELECT%%></dd>

					<dt class="jpd_test-Kosprojek-caption field-caption-tv">Kos projek</dt>
					<dd id="jpd_test-Kosprojek-<%%VALUE(ID)%%>" class="jpd_test-Kosprojek"><%%SELECT%%><%%VALUE(Kosprojek)%%><%%ENDSELECT%%></dd>

					<dt class="jpd_test-KKSVO-caption field-caption-tv">KKSVO</dt>
					<dd id="jpd_test-KKSVO-<%%VALUE(ID)%%>" class="jpd_test-KKSVO"><%%SELECT%%><%%VALUE(KKSVO)%%><%%ENDSELECT%%></dd>

					<dt class="jpd_test-Perbelanjaan-caption field-caption-tv">Perbelanjaan</dt>
					<dd id="jpd_test-Perbelanjaan-<%%VALUE(ID)%%>" class="jpd_test-Perbelanjaan"><%%SELECT%%><%%VALUE(Perbelanjaan)%%><%%ENDSELECT%%></dd>

					<dt class="jpd_test-penjimatan-caption field-caption-tv">penjimatan</dt>
					<dd id="jpd_test-penjimatan-<%%VALUE(ID)%%>" class="jpd_test-penjimatan"><%%SELECT%%><%%VALUE(penjimatan)%%><%%ENDSELECT%%></dd>

					<dt class="jpd_test-Status-caption field-caption-tv">Status</dt>
					<dd id="jpd_test-Status-<%%VALUE(ID)%%>" class="jpd_test-Status"><%%SELECT%%><%%VALUE(Status)%%><%%ENDSELECT%%></dd>

					<dt class="jpd_test-PenerimaManfaat-caption field-caption-tv">Penerima Manfaat</dt>
					<dd id="jpd_test-PenerimaManfaat-<%%VALUE(ID)%%>" class="jpd_test-PenerimaManfaat"><%%SELECT%%><%%VALUE(PenerimaManfaat)%%><%%ENDSELECT%%></dd>

					<dt class="jpd_test-sumber_permohonan-caption field-caption-tv">Sumber Permohonan</dt>
					<dd id="jpd_test-sumber_permohonan-<%%VALUE(ID)%%>" class="jpd_test-sumber_permohonan"><%%SELECT%%><%%VALUE(sumber_permohonan)%%><%%ENDSELECT%%></dd>

					<dt class="jpd_test-catatan-caption field-caption-tv">Catatan</dt>
					<dd id="jpd_test-catatan-<%%VALUE(ID)%%>" class="jpd_test-catatan"><%%SELECT%%><%%VALUE(catatan)%%><%%ENDSELECT%%></dd>

					<dt class="jpd_test-sumber_peruntukan-caption field-caption-tv">Sumber peruntukan</dt>
					<dd id="jpd_test-sumber_peruntukan-<%%VALUE(ID)%%>" class="jpd_test-sumber_peruntukan"><%%SELECT%%><%%VALUE(sumber_peruntukan)%%><%%ENDSELECT%%></dd>

					<dt class="jpd_test-gambar2-caption field-caption-tv">Gambar </dt>
					<dd id="jpd_test-gambar2-<%%VALUE(ID)%%>" class="jpd_test-gambar2"><a href="<%%BASE_UPLOAD_PATH%%><%%VALUE(gambar2)%%>" data-lightbox="jpd_test-gambar2"><img src="thumbnail.php?i=<%%VALUE(gambar2)%%>&t=jpd_test&f=gambar2&v=tv" class="img-thumbnail"></a></dd>

					<dt class="jpd_test-gambar3-caption field-caption-tv">Gambar  </dt>
					<dd id="jpd_test-gambar3-<%%VALUE(ID)%%>" class="jpd_test-gambar3"><a href="<%%BASE_UPLOAD_PATH%%><%%VALUE(gambar3)%%>" data-lightbox="jpd_test-gambar3"><img src="thumbnail.php?i=<%%VALUE(gambar3)%%>&t=jpd_test&f=gambar3&v=tv" class="img-thumbnail"></a></dd>

					<dt class="jpd_test-VIDEO-caption field-caption-tv">VIDEO</dt>
					<dd id="jpd_test-VIDEO-<%%VALUE(ID)%%>" class="jpd_test-VIDEO"><%%SELECT%%><img src="<%%YOUTUBETHUMB(VIDEO)%%>" style="max-width: 50px; max-height: 50px; " ><%%ENDSELECT%%></dd>

					<dt class="jpd_test-GIS-caption field-caption-tv">GIS</dt>
					<dd id="jpd_test-GIS-<%%VALUE(ID)%%>" class="jpd_test-GIS"><%%SELECT%%><img src="<%%GOOGLEMAPTHUMB(GIS)%%>" style="max-width: 200px; max-height: 200px; " ><%%ENDSELECT%%></dd>

				</dl>
			</div>
		</td>
