<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the jpd_de_REKOD_init() hook (in hooks/jpd_de_REKOD.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="jpd_de_REKOD-tahun_laksana-<%%VALUE(ID)%%>" class="jpd_de_REKOD-tahun_laksana"><%%SELECT%%><%%VALUE(tahun_laksana)%%><%%ENDSELECT%%></td>
		<td id="jpd_de_REKOD-Kelulusan-<%%VALUE(ID)%%>" class="jpd_de_REKOD-Kelulusan"><%%SELECT%%><%%VALUE(Kelulusan)%%><%%ENDSELECT%%></td>
		<td id="jpd_de_REKOD-NamaProjek-<%%VALUE(ID)%%>" class="jpd_de_REKOD-NamaProjek"><%%SELECT%%><%%VALUE(NamaProjek)%%><%%ENDSELECT%%></td>
		<td id="jpd_de_REKOD-negeri-<%%VALUE(ID)%%>" class="jpd_de_REKOD-negeri"><%%SELECT%%><%%VALUE(negeri)%%><%%ENDSELECT%%></td>
		<td id="jpd_de_REKOD-Daerah-<%%VALUE(ID)%%>" class="jpd_de_REKOD-Daerah"><%%SELECT%%><%%VALUE(Daerah)%%><%%ENDSELECT%%></td>
		<td id="jpd_de_REKOD-Parlimen-<%%VALUE(ID)%%>" class="jpd_de_REKOD-Parlimen"><%%SELECT%%><%%VALUE(Parlimen)%%><%%ENDSELECT%%></td>
		<td id="jpd_de_REKOD-DUN-<%%VALUE(ID)%%>" class="jpd_de_REKOD-DUN"><%%SELECT%%><%%VALUE(DUN)%%><%%ENDSELECT%%></td>
		<td id="jpd_de_REKOD-AgensiPelaksana-<%%VALUE(ID)%%>" class="jpd_de_REKOD-AgensiPelaksana"><%%SELECT%%><%%VALUE(AgensiPelaksana)%%><%%ENDSELECT%%></td>
		<td id="jpd_de_REKOD-agensi_pembayar-<%%VALUE(ID)%%>" class="jpd_de_REKOD-agensi_pembayar"><%%SELECT%%><%%VALUE(agensi_pembayar)%%><%%ENDSELECT%%></td>
		<td id="jpd_de_REKOD-penyelia_projek-<%%VALUE(ID)%%>" class="jpd_de_REKOD-penyelia_projek"><%%SELECT%%><%%VALUE(penyelia_projek)%%><%%ENDSELECT%%></td>
		<td id="jpd_de_REKOD-NamaKontraktor-<%%VALUE(ID)%%>" class="jpd_de_REKOD-NamaKontraktor"><%%SELECT%%><%%VALUE(NamaKontraktor)%%><%%ENDSELECT%%></td>
		<td id="jpd_de_REKOD-TarikhSST-<%%VALUE(ID)%%>" class="jpd_de_REKOD-TarikhSST"><%%SELECT%%><%%VALUE(TarikhSST)%%><%%ENDSELECT%%></td>
		<td id="jpd_de_REKOD-TarikhSiapProjek-<%%VALUE(ID)%%>" class="jpd_de_REKOD-TarikhSiapProjek"><%%SELECT%%><%%VALUE(TarikhSiapProjek)%%><%%ENDSELECT%%></td>
		<td id="jpd_de_REKOD-TarikhSiapSepenuhnya-<%%VALUE(ID)%%>" class="jpd_de_REKOD-TarikhSiapSepenuhnya"><%%SELECT%%><%%VALUE(TarikhSiapSepenuhnya)%%><%%ENDSELECT%%></td>
		<td id="jpd_de_REKOD-PanjangJalanM-<%%VALUE(ID)%%>" class="jpd_de_REKOD-PanjangJalanM"><%%SELECT%%><%%VALUE(PanjangJalanM)%%><%%ENDSELECT%%></td>
		<td id="jpd_de_REKOD-LebarM-<%%VALUE(ID)%%>" class="jpd_de_REKOD-LebarM"><%%SELECT%%><%%VALUE(LebarM)%%><%%ENDSELECT%%></td>
		<td id="jpd_de_REKOD-Latitud-<%%VALUE(ID)%%>" class="jpd_de_REKOD-Latitud"><%%SELECT%%><%%VALUE(Latitud)%%><%%ENDSELECT%%></td>
		<td id="jpd_de_REKOD-Longitud-<%%VALUE(ID)%%>" class="jpd_de_REKOD-Longitud"><%%SELECT%%><%%VALUE(Longitud)%%><%%ENDSELECT%%></td>
		<td id="jpd_de_REKOD-PeruntukanDiluluskan-<%%VALUE(ID)%%>" class="jpd_de_REKOD-PeruntukanDiluluskan text-right"><%%SELECT%%><%%VALUE(PeruntukanDiluluskan)%%><%%ENDSELECT%%></td>
		<td id="jpd_de_REKOD-peruntukan_dipinda-<%%VALUE(ID)%%>" class="jpd_de_REKOD-peruntukan_dipinda text-right"><%%SELECT%%><%%VALUE(peruntukan_dipinda)%%><%%ENDSELECT%%></td>
		<td id="jpd_de_REKOD-Kosprojek-<%%VALUE(ID)%%>" class="jpd_de_REKOD-Kosprojek text-right"><%%SELECT%%><%%VALUE(Kosprojek)%%><%%ENDSELECT%%></td>
		<td id="jpd_de_REKOD-KKSVO-<%%VALUE(ID)%%>" class="jpd_de_REKOD-KKSVO text-right"><%%SELECT%%><%%VALUE(KKSVO)%%><%%ENDSELECT%%></td>
		<td id="jpd_de_REKOD-Perbelanjaan-<%%VALUE(ID)%%>" class="jpd_de_REKOD-Perbelanjaan text-right"><%%SELECT%%><%%VALUE(Perbelanjaan)%%><%%ENDSELECT%%></td>
		<td id="jpd_de_REKOD-penjimatan-<%%VALUE(ID)%%>" class="jpd_de_REKOD-penjimatan text-right"><%%SELECT%%><%%VALUE(penjimatan)%%><%%ENDSELECT%%></td>
		<td id="jpd_de_REKOD-Status-<%%VALUE(ID)%%>" class="jpd_de_REKOD-Status"><%%SELECT%%><%%VALUE(Status)%%><%%ENDSELECT%%></td>
		<td id="jpd_de_REKOD-PenerimaManfaat-<%%VALUE(ID)%%>" class="jpd_de_REKOD-PenerimaManfaat"><%%SELECT%%><%%VALUE(PenerimaManfaat)%%><%%ENDSELECT%%></td>
		<td id="jpd_de_REKOD-sumber_permohonan-<%%VALUE(ID)%%>" class="jpd_de_REKOD-sumber_permohonan"><%%SELECT%%><%%VALUE(sumber_permohonan)%%><%%ENDSELECT%%></td>
		<td id="jpd_de_REKOD-catatan-<%%VALUE(ID)%%>" class="jpd_de_REKOD-catatan"><%%SELECT%%><%%VALUE(catatan)%%><%%ENDSELECT%%></td>
		<td id="jpd_de_REKOD-gambar1-<%%VALUE(ID)%%>" class="jpd_de_REKOD-gambar1"><a href="<%%BASE_UPLOAD_PATH%%><%%VALUE(gambar1)%%>" data-lightbox="jpd_de_REKOD-gambar1"><img src="thumbnail.php?i=<%%VALUE(gambar1)%%>&t=jpd_de_REKOD&f=gambar1&v=tv" class="img-thumbnail"></a></td>
		<td id="jpd_de_REKOD-gambar2-<%%VALUE(ID)%%>" class="jpd_de_REKOD-gambar2"><a href="<%%BASE_UPLOAD_PATH%%><%%VALUE(gambar2)%%>" data-lightbox="jpd_de_REKOD-gambar2"><img src="thumbnail.php?i=<%%VALUE(gambar2)%%>&t=jpd_de_REKOD&f=gambar2&v=tv" class="img-thumbnail"></a></td>
		<td id="jpd_de_REKOD-gambar3-<%%VALUE(ID)%%>" class="jpd_de_REKOD-gambar3"><a href="<%%BASE_UPLOAD_PATH%%><%%VALUE(gambar3)%%>" data-lightbox="jpd_de_REKOD-gambar3"><img src="thumbnail.php?i=<%%VALUE(gambar3)%%>&t=jpd_de_REKOD&f=gambar3&v=tv" class="img-thumbnail"></a></td>
