		<td colspan="30" class="row">
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="jpd_de-tahun_laksana-caption field-caption-tv">Tahun laksana</dt>
					<dd id="jpd_de-tahun_laksana-<%%VALUE(ID)%%>" class="jpd_de-tahun_laksana"><%%VALUE(tahun_laksana)%%></dd>

					<dt class="jpd_de-Waran-caption field-caption-tv">Sumber Peruntukan</dt>
					<dd id="jpd_de-Waran-<%%VALUE(ID)%%>" class="jpd_de-Waran"><%%VALUE(Waran)%%></dd>

					<dt class="jpd_de-Kelulusan-caption field-caption-tv">Kelulusan</dt>
					<dd id="jpd_de-Kelulusan-<%%VALUE(ID)%%>" class="jpd_de-Kelulusan"><%%VALUE(Kelulusan)%%></dd>

					<dt class="jpd_de-NamaProjek-caption field-caption-tv">Nama Projek</dt>
					<dd id="jpd_de-NamaProjek-<%%VALUE(ID)%%>" class="jpd_de-NamaProjek"><%%VALUE(NamaProjek)%%></dd>

					<dt class="jpd_de-negeri-caption field-caption-tv">Negeri</dt>
					<dd id="jpd_de-negeri-<%%VALUE(ID)%%>" class="jpd_de-negeri"><%%VALUE(negeri)%%></dd>

					<dt class="jpd_de-Daerah-caption field-caption-tv">Daerah</dt>
					<dd id="jpd_de-Daerah-<%%VALUE(ID)%%>" class="jpd_de-Daerah"><%%VALUE(Daerah)%%></dd>

					<dt class="jpd_de-Parlimen-caption field-caption-tv">Parlimen</dt>
					<dd id="jpd_de-Parlimen-<%%VALUE(ID)%%>" class="jpd_de-Parlimen"><%%VALUE(Parlimen)%%></dd>

					<dt class="jpd_de-DUN-caption field-caption-tv">DUN</dt>
					<dd id="jpd_de-DUN-<%%VALUE(ID)%%>" class="jpd_de-DUN"><%%VALUE(DUN)%%></dd>

					<dt class="jpd_de-NamaKontraktor-caption field-caption-tv">Nama Kontraktor</dt>
					<dd id="jpd_de-NamaKontraktor-<%%VALUE(ID)%%>" class="jpd_de-NamaKontraktor"><%%VALUE(NamaKontraktor)%%></dd>

					<dt class="jpd_de-TarikhSST-caption field-caption-tv">Tarikh SST</dt>
					<dd id="jpd_de-TarikhSST-<%%VALUE(ID)%%>" class="jpd_de-TarikhSST"><%%VALUE(TarikhSST)%%></dd>

					<dt class="jpd_de-TarikhSiapsebenar-caption field-caption-tv">Tarikh Siap Sepenuhnya</dt>
					<dd id="jpd_de-TarikhSiapsebenar-<%%VALUE(ID)%%>" class="jpd_de-TarikhSiapsebenar"><%%VALUE(TarikhSiapsebenar)%%></dd>

					<dt class="jpd_de-PanjangJalanM-caption field-caption-tv">Panjang Jalan (M)</dt>
					<dd id="jpd_de-PanjangJalanM-<%%VALUE(ID)%%>" class="jpd_de-PanjangJalanM"><%%VALUE(PanjangJalanM)%%></dd>

					<dt class="jpd_de-LebarM-caption field-caption-tv">Lebar (M)</dt>
					<dd id="jpd_de-LebarM-<%%VALUE(ID)%%>" class="jpd_de-LebarM"><%%VALUE(LebarM)%%></dd>

					<dt class="jpd_de-skop-caption field-caption-tv">Skop Kerja</dt>
					<dd id="jpd_de-skop-<%%VALUE(ID)%%>" class="jpd_de-skop"><%%VALUE(skop)%%></dd>

					<dt class="jpd_de-gambar1-caption field-caption-tv">Gambar</dt>
					<dd id="jpd_de-gambar1-<%%VALUE(ID)%%>" class="jpd_de-gambar1"><a href="<%%BASE_UPLOAD_PATH%%><%%VALUE(gambar1)%%>" data-lightbox="jpd_de-gambar1"><img src="thumbnail.php?i=<%%VALUE(gambar1)%%>&t=jpd_de&f=gambar1&v=tv" class="img-thumbnail"></a></dd>

				</dl>
			</div>
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="jpd_de-Peta-caption field-caption-tv">Peta</dt>
					<dd id="jpd_de-Peta-<%%VALUE(ID)%%>" class="jpd_de-Peta"><img src="<%%GOOGLEMAPTHUMB(Peta)%%>" style="max-width: 200px; max-height: 200px; " ></dd>

					<dt class="jpd_de-PeruntukanDiluluskan-caption field-caption-tv">Peruntukan Diluluskan</dt>
					<dd id="jpd_de-PeruntukanDiluluskan-<%%VALUE(ID)%%>" class="jpd_de-PeruntukanDiluluskan"><%%VALUE(PeruntukanDiluluskan)%%></dd>

					<dt class="jpd_de-Kosprojek-caption field-caption-tv">Kos projek</dt>
					<dd id="jpd_de-Kosprojek-<%%VALUE(ID)%%>" class="jpd_de-Kosprojek"><%%VALUE(Kosprojek)%%></dd>

					<dt class="jpd_de-KKSVO-caption field-caption-tv">KKSVO</dt>
					<dd id="jpd_de-KKSVO-<%%VALUE(ID)%%>" class="jpd_de-KKSVO"><%%VALUE(KKSVO)%%></dd>

					<dt class="jpd_de-Perbelanjaan-caption field-caption-tv">Perbelanjaan</dt>
					<dd id="jpd_de-Perbelanjaan-<%%VALUE(ID)%%>" class="jpd_de-Perbelanjaan"><%%VALUE(Perbelanjaan)%%></dd>

					<dt class="jpd_de-penjimatan-caption field-caption-tv">penjimatan</dt>
					<dd id="jpd_de-penjimatan-<%%VALUE(ID)%%>" class="jpd_de-penjimatan"><%%VALUE(penjimatan)%%></dd>

					<dt class="jpd_de-Status-caption field-caption-tv">Status</dt>
					<dd id="jpd_de-Status-<%%VALUE(ID)%%>" class="jpd_de-Status"><%%VALUE(Status)%%></dd>

					<dt class="jpd_de-penyelia_projek-caption field-caption-tv">Penyelia projek</dt>
					<dd id="jpd_de-penyelia_projek-<%%VALUE(ID)%%>" class="jpd_de-penyelia_projek"><%%VALUE(penyelia_projek)%%></dd>

					<dt class="jpd_de-PenerimaManfaat-caption field-caption-tv">Penerima Manfaat</dt>
					<dd id="jpd_de-PenerimaManfaat-<%%VALUE(ID)%%>" class="jpd_de-PenerimaManfaat"><%%VALUE(PenerimaManfaat)%%></dd>

					<dt class="jpd_de-catatan-caption field-caption-tv">Catatan</dt>
					<dd id="jpd_de-catatan-<%%VALUE(ID)%%>" class="jpd_de-catatan"><%%VALUE(catatan)%%></dd>

					<dt class="jpd_de-inden-caption field-caption-tv">Inden Kerja</dt>
					<dd id="jpd_de-inden-<%%VALUE(ID)%%>" class="jpd_de-inden"><a href="link.php?t=jpd_de&f=inden&i=<%%VALUE(ID)%%>" target="_blank" title="<%%VALUE(inden)%%>" class="btn btn-default"><i class="glyphicon glyphicon-lg glyphicon-file text-info"></i></a></dd>

					<dt class="jpd_de-Baucer-caption field-caption-tv">Baucer Bayaran</dt>
					<dd id="jpd_de-Baucer-<%%VALUE(ID)%%>" class="jpd_de-Baucer"><a href="link.php?t=jpd_de&f=Baucer&i=<%%VALUE(ID)%%>" target="_blank" title="<%%VALUE(Baucer)%%>" class="btn btn-default"><i class="glyphicon glyphicon-lg glyphicon-file text-info"></i></a></dd>

					<dt class="jpd_de-gambar2-caption field-caption-tv">Gambar </dt>
					<dd id="jpd_de-gambar2-<%%VALUE(ID)%%>" class="jpd_de-gambar2"><a href="<%%BASE_UPLOAD_PATH%%><%%VALUE(gambar2)%%>" data-lightbox="jpd_de-gambar2"><img src="thumbnail.php?i=<%%VALUE(gambar2)%%>&t=jpd_de&f=gambar2&v=tv" class="img-thumbnail"></a></dd>

					<dt class="jpd_de-gambar3-caption field-caption-tv">Gambar  </dt>
					<dd id="jpd_de-gambar3-<%%VALUE(ID)%%>" class="jpd_de-gambar3"><a href="<%%BASE_UPLOAD_PATH%%><%%VALUE(gambar3)%%>" data-lightbox="jpd_de-gambar3"><img src="thumbnail.php?i=<%%VALUE(gambar3)%%>&t=jpd_de&f=gambar3&v=tv" class="img-thumbnail"></a></dd>

					<dt class="jpd_de-updated-caption field-caption-tv">Dikemaskini Oleh</dt>
					<dd id="jpd_de-updated-<%%VALUE(ID)%%>" class="jpd_de-updated"><%%VALUE(updated)%%></dd>

				</dl>
			</div>
		</td>
		<script>$j(function() {
			var e_inden = '<%%VALUE(inden)%%>'; if(e_inden == '' || e_inden == '&nbsp;') $j(/*<*/ '#jpd_de-inden-<%%VALUE(ID)%%>' /*>*/).html('');
			var e_Baucer = '<%%VALUE(Baucer)%%>'; if(e_Baucer == '' || e_Baucer == '&nbsp;') $j(/*<*/ '#jpd_de-Baucer-<%%VALUE(ID)%%>' /*>*/).html('');
		});</script>
