<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the Kew_MLK_init() hook (in hooks/Kew_MLK.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="Kew_MLK-program-<%%VALUE(ID)%%>" class="Kew_MLK-program"><%%VALUE(program)%%></td>
		<td id="Kew_MLK-bil_projek-<%%VALUE(ID)%%>" class="Kew_MLK-bil_projek text-center"><%%VALUE(bil_projek)%%></td>
		<td id="Kew_MLK-peruntukan-<%%VALUE(ID)%%>" class="Kew_MLK-peruntukan text-right"><%%VALUE(peruntukan)%%></td>
		<td id="Kew_MLK-belanja-<%%VALUE(ID)%%>" class="Kew_MLK-belanja text-right"><%%VALUE(belanja)%%></td>
		<td id="Kew_MLK-jimat-<%%VALUE(ID)%%>" class="Kew_MLK-jimat text-right"><%%VALUE(jimat)%%></td>
