<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the Laporan_init() hook (in hooks/Laporan.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="Laporan-program-<%%VALUE(id)%%>" class="Laporan-program"><%%SELECT%%><%%VALUE(program)%%><%%ENDSELECT%%></td>
		<td id="Laporan-peruntukan-<%%VALUE(id)%%>" class="Laporan-peruntukan text-center"><%%SELECT%%><%%VALUE(peruntukan)%%><%%ENDSELECT%%></td>
		<td id="Laporan-bil_projek-<%%VALUE(id)%%>" class="Laporan-bil_projek text-center"><%%SELECT%%><%%VALUE(bil_projek)%%><%%ENDSELECT%%></td>
		<td id="Laporan-bm-<%%VALUE(id)%%>" class="Laporan-bm text-center"><%%SELECT%%><%%VALUE(bm)%%><%%ENDSELECT%%></td>
		<td id="Laporan-Perolehan-<%%VALUE(id)%%>" class="Laporan-Perolehan text-center"><%%SELECT%%><%%VALUE(Perolehan)%%><%%ENDSELECT%%></td>
		<td id="Laporan-dp-<%%VALUE(id)%%>" class="Laporan-dp text-center"><%%SELECT%%><%%VALUE(dp)%%><%%ENDSELECT%%></td>
		<td id="Laporan-sp-<%%VALUE(id)%%>" class="Laporan-sp text-center"><%%SELECT%%><%%VALUE(sp)%%><%%ENDSELECT%%></td>
