<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the LJK_JENIS_init() hook (in hooks/LJK_JENIS.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="LJK_JENIS-jenis_lampu-<%%VALUE(id)%%>" class="LJK_JENIS-jenis_lampu"><%%SELECT%%><%%VALUE(jenis_lampu)%%><%%ENDSELECT%%></td>
