<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the pams_DE_REKOD_init() hook (in hooks/pams_DE_REKOD.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="pams_DE_REKOD-tahun_laksana-<%%VALUE(id)%%>" class="pams_DE_REKOD-tahun_laksana"><%%SELECT%%><%%VALUE(tahun_laksana)%%><%%ENDSELECT%%></td>
		<td id="pams_DE_REKOD-Kelulusan-<%%VALUE(id)%%>" class="pams_DE_REKOD-Kelulusan"><%%SELECT%%><%%VALUE(Kelulusan)%%><%%ENDSELECT%%></td>
		<td id="pams_DE_REKOD-NamaProjek-<%%VALUE(id)%%>" class="pams_DE_REKOD-NamaProjek"><%%SELECT%%><%%VALUE(NamaProjek)%%><%%ENDSELECT%%></td>
		<td id="pams_DE_REKOD-negeri-<%%VALUE(id)%%>" class="pams_DE_REKOD-negeri"><%%SELECT%%><%%VALUE(negeri)%%><%%ENDSELECT%%></td>
		<td id="pams_DE_REKOD-Daerah-<%%VALUE(id)%%>" class="pams_DE_REKOD-Daerah"><%%SELECT%%><%%VALUE(Daerah)%%><%%ENDSELECT%%></td>
		<td id="pams_DE_REKOD-Parlimen-<%%VALUE(id)%%>" class="pams_DE_REKOD-Parlimen"><%%SELECT%%><%%VALUE(Parlimen)%%><%%ENDSELECT%%></td>
		<td id="pams_DE_REKOD-DUN-<%%VALUE(id)%%>" class="pams_DE_REKOD-DUN"><%%SELECT%%><%%VALUE(DUN)%%><%%ENDSELECT%%></td>
		<td id="pams_DE_REKOD-AgensiPelaksana-<%%VALUE(id)%%>" class="pams_DE_REKOD-AgensiPelaksana"><%%SELECT%%><%%VALUE(AgensiPelaksana)%%><%%ENDSELECT%%></td>
		<td id="pams_DE_REKOD-agensi_pembayar-<%%VALUE(id)%%>" class="pams_DE_REKOD-agensi_pembayar"><%%SELECT%%><%%VALUE(agensi_pembayar)%%><%%ENDSELECT%%></td>
		<td id="pams_DE_REKOD-penyelia_projek-<%%VALUE(id)%%>" class="pams_DE_REKOD-penyelia_projek"><%%SELECT%%><%%VALUE(penyelia_projek)%%><%%ENDSELECT%%></td>
		<td id="pams_DE_REKOD-NamaKontraktor-<%%VALUE(id)%%>" class="pams_DE_REKOD-NamaKontraktor"><%%SELECT%%><%%VALUE(NamaKontraktor)%%><%%ENDSELECT%%></td>
		<td id="pams_DE_REKOD-TarikhSST-<%%VALUE(id)%%>" class="pams_DE_REKOD-TarikhSST"><%%SELECT%%><%%VALUE(TarikhSST)%%><%%ENDSELECT%%></td>
		<td id="pams_DE_REKOD-TarikhSiapProjek-<%%VALUE(id)%%>" class="pams_DE_REKOD-TarikhSiapProjek"><%%SELECT%%><%%VALUE(TarikhSiapProjek)%%><%%ENDSELECT%%></td>
		<td id="pams_DE_REKOD-TarikhSiapSebenar-<%%VALUE(id)%%>" class="pams_DE_REKOD-TarikhSiapSebenar"><%%SELECT%%><%%VALUE(TarikhSiapSebenar)%%><%%ENDSELECT%%></td>
		<td id="pams_DE_REKOD-PanjangJalanM-<%%VALUE(id)%%>" class="pams_DE_REKOD-PanjangJalanM"><%%SELECT%%><%%VALUE(PanjangJalanM)%%><%%ENDSELECT%%></td>
		<td id="pams_DE_REKOD-LebarM-<%%VALUE(id)%%>" class="pams_DE_REKOD-LebarM"><%%SELECT%%><%%VALUE(LebarM)%%><%%ENDSELECT%%></td>
		<td id="pams_DE_REKOD-Latitud-<%%VALUE(id)%%>" class="pams_DE_REKOD-Latitud"><%%SELECT%%><%%VALUE(Latitud)%%><%%ENDSELECT%%></td>
		<td id="pams_DE_REKOD-Longitud-<%%VALUE(id)%%>" class="pams_DE_REKOD-Longitud"><%%SELECT%%><%%VALUE(Longitud)%%><%%ENDSELECT%%></td>
		<td id="pams_DE_REKOD-PeruntukanDiluluskan-<%%VALUE(id)%%>" class="pams_DE_REKOD-PeruntukanDiluluskan text-right"><%%SELECT%%><%%VALUE(PeruntukanDiluluskan)%%><%%ENDSELECT%%></td>
		<td id="pams_DE_REKOD-peruntukan_dipinda-<%%VALUE(id)%%>" class="pams_DE_REKOD-peruntukan_dipinda text-right"><%%SELECT%%><%%VALUE(peruntukan_dipinda)%%><%%ENDSELECT%%></td>
		<td id="pams_DE_REKOD-Kosprojek-<%%VALUE(id)%%>" class="pams_DE_REKOD-Kosprojek text-right"><%%SELECT%%><%%VALUE(Kosprojek)%%><%%ENDSELECT%%></td>
		<td id="pams_DE_REKOD-KKSVO-<%%VALUE(id)%%>" class="pams_DE_REKOD-KKSVO text-right"><%%SELECT%%><%%VALUE(KKSVO)%%><%%ENDSELECT%%></td>
		<td id="pams_DE_REKOD-Perbelanjaan-<%%VALUE(id)%%>" class="pams_DE_REKOD-Perbelanjaan text-right"><%%SELECT%%><%%VALUE(Perbelanjaan)%%><%%ENDSELECT%%></td>
		<td id="pams_DE_REKOD-Penjimatan-<%%VALUE(id)%%>" class="pams_DE_REKOD-Penjimatan text-right"><%%SELECT%%><%%VALUE(Penjimatan)%%><%%ENDSELECT%%></td>
		<td id="pams_DE_REKOD-Status-<%%VALUE(id)%%>" class="pams_DE_REKOD-Status"><%%SELECT%%><%%VALUE(Status)%%><%%ENDSELECT%%></td>
		<td id="pams_DE_REKOD-PenerimaManfaat-<%%VALUE(id)%%>" class="pams_DE_REKOD-PenerimaManfaat"><%%SELECT%%><%%VALUE(PenerimaManfaat)%%><%%ENDSELECT%%></td>
		<td id="pams_DE_REKOD-sumber_permohonan-<%%VALUE(id)%%>" class="pams_DE_REKOD-sumber_permohonan"><%%SELECT%%><%%VALUE(sumber_permohonan)%%><%%ENDSELECT%%></td>
		<td id="pams_DE_REKOD-catatan-<%%VALUE(id)%%>" class="pams_DE_REKOD-catatan"><%%SELECT%%><%%VALUE(catatan)%%><%%ENDSELECT%%></td>
		<td id="pams_DE_REKOD-gambar_projek-<%%VALUE(id)%%>" class="pams_DE_REKOD-gambar_projek"><a href="<%%BASE_UPLOAD_PATH%%><%%VALUE(gambar_projek)%%>" data-lightbox="pams_DE_REKOD-gambar_projek"><img src="thumbnail.php?i=<%%VALUE(gambar_projek)%%>&t=pams_DE_REKOD&f=gambar_projek&v=tv" class="img-thumbnail"></a></td>
		<td id="pams_DE_REKOD-gambar_projek_1-<%%VALUE(id)%%>" class="pams_DE_REKOD-gambar_projek_1"><a href="<%%BASE_UPLOAD_PATH%%><%%VALUE(gambar_projek_1)%%>" data-lightbox="pams_DE_REKOD-gambar_projek_1"><img src="thumbnail.php?i=<%%VALUE(gambar_projek_1)%%>&t=pams_DE_REKOD&f=gambar_projek_1&v=tv" class="img-thumbnail"></a></td>
		<td id="pams_DE_REKOD-gambar_projek_2-<%%VALUE(id)%%>" class="pams_DE_REKOD-gambar_projek_2"><a href="<%%BASE_UPLOAD_PATH%%><%%VALUE(gambar_projek_2)%%>" data-lightbox="pams_DE_REKOD-gambar_projek_2"><img src="thumbnail.php?i=<%%VALUE(gambar_projek_2)%%>&t=pams_DE_REKOD&f=gambar_projek_2&v=tv" class="img-thumbnail"></a></td>
