		<td colspan="27" class="row">
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="pams_khas-tahun_laksana-caption field-caption-tv">Tahun laksana</dt>
					<dd id="pams_khas-tahun_laksana-<%%VALUE(id)%%>" class="pams_khas-tahun_laksana"><%%SELECT%%><%%VALUE(tahun_laksana)%%><%%ENDSELECT%%></dd>

					<dt class="pams_khas-Waran-caption field-caption-tv">Sumber Peruntukan</dt>
					<dd id="pams_khas-Waran-<%%VALUE(id)%%>" class="pams_khas-Waran"><%%SELECT%%><%%VALUE(Waran)%%><%%ENDSELECT%%></dd>

					<dt class="pams_khas-Kelulusan-caption field-caption-tv">Kelulusan</dt>
					<dd id="pams_khas-Kelulusan-<%%VALUE(id)%%>" class="pams_khas-Kelulusan"><%%SELECT%%><%%VALUE(Kelulusan)%%><%%ENDSELECT%%></dd>

					<dt class="pams_khas-NamaProjek-caption field-caption-tv">Nama Projek</dt>
					<dd id="pams_khas-NamaProjek-<%%VALUE(id)%%>" class="pams_khas-NamaProjek"><%%SELECT%%><%%VALUE(NamaProjek)%%><%%ENDSELECT%%></dd>

					<dt class="pams_khas-negeri-caption field-caption-tv">Negeri</dt>
					<dd id="pams_khas-negeri-<%%VALUE(id)%%>" class="pams_khas-negeri"><%%SELECT%%><%%VALUE(negeri)%%><%%ENDSELECT%%></dd>

					<dt class="pams_khas-Daerah-caption field-caption-tv">Daerah</dt>
					<dd id="pams_khas-Daerah-<%%VALUE(id)%%>" class="pams_khas-Daerah"><%%SELECT%%><%%VALUE(Daerah)%%><%%ENDSELECT%%></dd>

					<dt class="pams_khas-Parlimen-caption field-caption-tv">Parlimen</dt>
					<dd id="pams_khas-Parlimen-<%%VALUE(id)%%>" class="pams_khas-Parlimen"><%%SELECT%%><%%VALUE(Parlimen)%%><%%ENDSELECT%%></dd>

					<dt class="pams_khas-DUN-caption field-caption-tv">DUN</dt>
					<dd id="pams_khas-DUN-<%%VALUE(id)%%>" class="pams_khas-DUN"><%%SELECT%%><%%VALUE(DUN)%%><%%ENDSELECT%%></dd>

					<dt class="pams_khas-NamaKontraktor-caption field-caption-tv">Nama Kontraktor</dt>
					<dd id="pams_khas-NamaKontraktor-<%%VALUE(id)%%>" class="pams_khas-NamaKontraktor"><%%SELECT%%><%%VALUE(NamaKontraktor)%%><%%ENDSELECT%%></dd>

					<dt class="pams_khas-TarikhSST-caption field-caption-tv">Tarikh SST</dt>
					<dd id="pams_khas-TarikhSST-<%%VALUE(id)%%>" class="pams_khas-TarikhSST"><%%SELECT%%><%%VALUE(TarikhSST)%%><%%ENDSELECT%%></dd>

					<dt class="pams_khas-TarikhSiapSepenuhnya-caption field-caption-tv">Tarikh Siap Sepenuhnya</dt>
					<dd id="pams_khas-TarikhSiapSepenuhnya-<%%VALUE(id)%%>" class="pams_khas-TarikhSiapSepenuhnya"><%%SELECT%%><%%VALUE(TarikhSiapSepenuhnya)%%><%%ENDSELECT%%></dd>

					<dt class="pams_khas-skop-caption field-caption-tv">Skop Kerja</dt>
					<dd id="pams_khas-skop-<%%VALUE(id)%%>" class="pams_khas-skop"><%%SELECT%%><%%VALUE(skop)%%><%%ENDSELECT%%></dd>

					<dt class="pams_khas-gambar_projek-caption field-caption-tv">Gambar </dt>
					<dd id="pams_khas-gambar_projek-<%%VALUE(id)%%>" class="pams_khas-gambar_projek"><a href="<%%BASE_UPLOAD_PATH%%><%%VALUE(gambar_projek)%%>" data-lightbox="pams_khas-gambar_projek"><img src="thumbnail.php?i=<%%VALUE(gambar_projek)%%>&t=pams_khas&f=gambar_projek&v=tv" class="img-thumbnail"></a></dd>

					<dt class="pams_khas-Peta-caption field-caption-tv">Peta</dt>
					<dd id="pams_khas-Peta-<%%VALUE(id)%%>" class="pams_khas-Peta"><%%SELECT%%><img src="<%%GOOGLEMAPTHUMB(Peta)%%>" style="max-width: 50px; max-height: 50px; " ><%%ENDSELECT%%></dd>

				</dl>
			</div>
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="pams_khas-PeruntukanDiluluskan-caption field-caption-tv"> Peruntukan Diluluskan</dt>
					<dd id="pams_khas-PeruntukanDiluluskan-<%%VALUE(id)%%>" class="pams_khas-PeruntukanDiluluskan"><%%SELECT%%><%%VALUE(PeruntukanDiluluskan)%%><%%ENDSELECT%%></dd>

					<dt class="pams_khas-Kosprojek-caption field-caption-tv">Kos projek</dt>
					<dd id="pams_khas-Kosprojek-<%%VALUE(id)%%>" class="pams_khas-Kosprojek"><%%SELECT%%><%%VALUE(Kosprojek)%%><%%ENDSELECT%%></dd>

					<dt class="pams_khas-KKSVO-caption field-caption-tv">KKS / VO</dt>
					<dd id="pams_khas-KKSVO-<%%VALUE(id)%%>" class="pams_khas-KKSVO"><%%SELECT%%><%%VALUE(KKSVO)%%><%%ENDSELECT%%></dd>

					<dt class="pams_khas-Perbelanjaan-caption field-caption-tv">Perbelanjaan</dt>
					<dd id="pams_khas-Perbelanjaan-<%%VALUE(id)%%>" class="pams_khas-Perbelanjaan"><%%SELECT%%><%%VALUE(Perbelanjaan)%%><%%ENDSELECT%%></dd>

					<dt class="pams_khas-Penjimatan-caption field-caption-tv">Penjimatan</dt>
					<dd id="pams_khas-Penjimatan-<%%VALUE(id)%%>" class="pams_khas-Penjimatan"><%%SELECT%%><%%VALUE(Penjimatan)%%><%%ENDSELECT%%></dd>

					<dt class="pams_khas-Status-caption field-caption-tv">Status</dt>
					<dd id="pams_khas-Status-<%%VALUE(id)%%>" class="pams_khas-Status"><%%SELECT%%><%%VALUE(Status)%%><%%ENDSELECT%%></dd>

					<dt class="pams_khas-penyelia_projek-caption field-caption-tv">Penyelia projek</dt>
					<dd id="pams_khas-penyelia_projek-<%%VALUE(id)%%>" class="pams_khas-penyelia_projek"><%%SELECT%%><%%VALUE(penyelia_projek)%%><%%ENDSELECT%%></dd>

					<dt class="pams_khas-PenerimaManfaat-caption field-caption-tv">Penerima Manfaat</dt>
					<dd id="pams_khas-PenerimaManfaat-<%%VALUE(id)%%>" class="pams_khas-PenerimaManfaat"><%%SELECT%%><%%VALUE(PenerimaManfaat)%%><%%ENDSELECT%%></dd>

					<dt class="pams_khas-sumber_permohonan-caption field-caption-tv">Sumber Permohonan</dt>
					<dd id="pams_khas-sumber_permohonan-<%%VALUE(id)%%>" class="pams_khas-sumber_permohonan"><%%SELECT%%><%%VALUE(sumber_permohonan)%%><%%ENDSELECT%%></dd>

					<dt class="pams_khas-catatan-caption field-caption-tv">Catatan</dt>
					<dd id="pams_khas-catatan-<%%VALUE(id)%%>" class="pams_khas-catatan"><%%SELECT%%><%%VALUE(catatan)%%><%%ENDSELECT%%></dd>

					<dt class="pams_khas-gambar_projek_1-caption field-caption-tv">Gambar  </dt>
					<dd id="pams_khas-gambar_projek_1-<%%VALUE(id)%%>" class="pams_khas-gambar_projek_1"><a href="<%%BASE_UPLOAD_PATH%%><%%VALUE(gambar_projek_1)%%>" data-lightbox="pams_khas-gambar_projek_1"><img src="thumbnail.php?i=<%%VALUE(gambar_projek_1)%%>&t=pams_khas&f=gambar_projek_1&v=tv" class="img-thumbnail"></a></dd>

					<dt class="pams_khas-gambar_projek_2-caption field-caption-tv">Gambar projek</dt>
					<dd id="pams_khas-gambar_projek_2-<%%VALUE(id)%%>" class="pams_khas-gambar_projek_2"><a href="<%%BASE_UPLOAD_PATH%%><%%VALUE(gambar_projek_2)%%>" data-lightbox="pams_khas-gambar_projek_2"><img src="thumbnail.php?i=<%%VALUE(gambar_projek_2)%%>&t=pams_khas&f=gambar_projek_2&v=tv" class="img-thumbnail"></a></dd>

					<dt class="pams_khas-updated-caption field-caption-tv">Dikemaskini Oleh</dt>
					<dd id="pams_khas-updated-<%%VALUE(id)%%>" class="pams_khas-updated"><%%SELECT%%><%%VALUE(updated)%%><%%ENDSELECT%%></dd>

				</dl>
			</div>
		</td>
