		<td colspan="28" class="row">
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="pams_DE-tahun_laksana-caption field-caption-tv">Tahun laksana</dt>
					<dd id="pams_DE-tahun_laksana-<%%VALUE(id)%%>" class="pams_DE-tahun_laksana"><%%SELECT%%><%%VALUE(tahun_laksana)%%><%%ENDSELECT%%></dd>

					<dt class="pams_DE-Waran-caption field-caption-tv">Sumber Peruntukan</dt>
					<dd id="pams_DE-Waran-<%%VALUE(id)%%>" class="pams_DE-Waran"><%%SELECT%%><%%VALUE(Waran)%%><%%ENDSELECT%%></dd>

					<dt class="pams_DE-Kelulusan-caption field-caption-tv">Kelulusan</dt>
					<dd id="pams_DE-Kelulusan-<%%VALUE(id)%%>" class="pams_DE-Kelulusan"><%%SELECT%%><%%VALUE(Kelulusan)%%><%%ENDSELECT%%></dd>

					<dt class="pams_DE-NamaProjek-caption field-caption-tv">Nama Projek</dt>
					<dd id="pams_DE-NamaProjek-<%%VALUE(id)%%>" class="pams_DE-NamaProjek"><%%SELECT%%><%%VALUE(NamaProjek)%%><%%ENDSELECT%%></dd>

					<dt class="pams_DE-negeri-caption field-caption-tv">Negeri</dt>
					<dd id="pams_DE-negeri-<%%VALUE(id)%%>" class="pams_DE-negeri"><%%SELECT%%><%%VALUE(negeri)%%><%%ENDSELECT%%></dd>

					<dt class="pams_DE-Daerah-caption field-caption-tv">Daerah</dt>
					<dd id="pams_DE-Daerah-<%%VALUE(id)%%>" class="pams_DE-Daerah"><%%SELECT%%><%%VALUE(Daerah)%%><%%ENDSELECT%%></dd>

					<dt class="pams_DE-Parlimen-caption field-caption-tv">Parlimen</dt>
					<dd id="pams_DE-Parlimen-<%%VALUE(id)%%>" class="pams_DE-Parlimen"><%%SELECT%%><%%VALUE(Parlimen)%%><%%ENDSELECT%%></dd>

					<dt class="pams_DE-DUN-caption field-caption-tv">DUN</dt>
					<dd id="pams_DE-DUN-<%%VALUE(id)%%>" class="pams_DE-DUN"><%%SELECT%%><%%VALUE(DUN)%%><%%ENDSELECT%%></dd>

					<dt class="pams_DE-NamaKontraktor-caption field-caption-tv">Nama Kontraktor</dt>
					<dd id="pams_DE-NamaKontraktor-<%%VALUE(id)%%>" class="pams_DE-NamaKontraktor"><%%SELECT%%><%%VALUE(NamaKontraktor)%%><%%ENDSELECT%%></dd>

					<dt class="pams_DE-TarikhTawaranSSTLantikan-caption field-caption-tv">Tarikh SST </dt>
					<dd id="pams_DE-TarikhTawaranSSTLantikan-<%%VALUE(id)%%>" class="pams_DE-TarikhTawaranSSTLantikan"><%%SELECT%%><%%VALUE(TarikhTawaranSSTLantikan)%%><%%ENDSELECT%%></dd>

					<dt class="pams_DE-TarikhSiapSebenar-caption field-caption-tv">Tarikh Siap Sebenar</dt>
					<dd id="pams_DE-TarikhSiapSebenar-<%%VALUE(id)%%>" class="pams_DE-TarikhSiapSebenar"><%%SELECT%%><%%VALUE(TarikhSiapSebenar)%%><%%ENDSELECT%%></dd>

					<dt class="pams_DE-PeruntukanDiluluskan-caption field-caption-tv">Peruntukan Diluluskan</dt>
					<dd id="pams_DE-PeruntukanDiluluskan-<%%VALUE(id)%%>" class="pams_DE-PeruntukanDiluluskan"><%%SELECT%%><%%VALUE(PeruntukanDiluluskan)%%><%%ENDSELECT%%></dd>

					<dt class="pams_DE-skop-caption field-caption-tv">Skop Kerja</dt>
					<dd id="pams_DE-skop-<%%VALUE(id)%%>" class="pams_DE-skop"><%%SELECT%%><%%VALUE(skop)%%><%%ENDSELECT%%></dd>

					<dt class="pams_DE-gambar_projek-caption field-caption-tv">Gambar </dt>
					<dd id="pams_DE-gambar_projek-<%%VALUE(id)%%>" class="pams_DE-gambar_projek"><a href="<%%BASE_UPLOAD_PATH%%><%%VALUE(gambar_projek)%%>" data-lightbox="pams_DE-gambar_projek"><img src="thumbnail.php?i=<%%VALUE(gambar_projek)%%>&t=pams_DE&f=gambar_projek&v=tv" class="img-thumbnail"></a></dd>

				</dl>
			</div>
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="pams_DE-Peta-caption field-caption-tv">Peta</dt>
					<dd id="pams_DE-Peta-<%%VALUE(id)%%>" class="pams_DE-Peta"><%%SELECT%%><img src="<%%GOOGLEMAPTHUMB(Peta)%%>" style="max-width: 50px; max-height: 50px; " ><%%ENDSELECT%%></dd>

					<dt class="pams_DE-Kosprojek-caption field-caption-tv">Kos projek</dt>
					<dd id="pams_DE-Kosprojek-<%%VALUE(id)%%>" class="pams_DE-Kosprojek"><%%SELECT%%><%%VALUE(Kosprojek)%%><%%ENDSELECT%%></dd>

					<dt class="pams_DE-KKSVO-caption field-caption-tv">KKS / VO</dt>
					<dd id="pams_DE-KKSVO-<%%VALUE(id)%%>" class="pams_DE-KKSVO"><%%SELECT%%><%%VALUE(KKSVO)%%><%%ENDSELECT%%></dd>

					<dt class="pams_DE-Perbelanjaan-caption field-caption-tv">Perbelanjaan</dt>
					<dd id="pams_DE-Perbelanjaan-<%%VALUE(id)%%>" class="pams_DE-Perbelanjaan"><%%SELECT%%><%%VALUE(Perbelanjaan)%%><%%ENDSELECT%%></dd>

					<dt class="pams_DE-Penjimatan-caption field-caption-tv">Penjimatan</dt>
					<dd id="pams_DE-Penjimatan-<%%VALUE(id)%%>" class="pams_DE-Penjimatan"><%%SELECT%%><%%VALUE(Penjimatan)%%><%%ENDSELECT%%></dd>

					<dt class="pams_DE-Status-caption field-caption-tv">Status</dt>
					<dd id="pams_DE-Status-<%%VALUE(id)%%>" class="pams_DE-Status"><%%SELECT%%><%%VALUE(Status)%%><%%ENDSELECT%%></dd>

					<dt class="pams_DE-penyelia_projek-caption field-caption-tv">Penyelia projek</dt>
					<dd id="pams_DE-penyelia_projek-<%%VALUE(id)%%>" class="pams_DE-penyelia_projek"><%%SELECT%%><%%VALUE(penyelia_projek)%%><%%ENDSELECT%%></dd>

					<dt class="pams_DE-PenerimaManfaat-caption field-caption-tv">Penerima Manfaat</dt>
					<dd id="pams_DE-PenerimaManfaat-<%%VALUE(id)%%>" class="pams_DE-PenerimaManfaat"><%%SELECT%%><%%VALUE(PenerimaManfaat)%%><%%ENDSELECT%%></dd>

					<dt class="pams_DE-catatan-caption field-caption-tv">Catatan</dt>
					<dd id="pams_DE-catatan-<%%VALUE(id)%%>" class="pams_DE-catatan"><%%SELECT%%><%%VALUE(catatan)%%><%%ENDSELECT%%></dd>

					<dt class="pams_DE-inden-caption field-caption-tv">Inden Kerja</dt>
					<dd id="pams_DE-inden-<%%VALUE(id)%%>" class="pams_DE-inden"><a href="link.php?t=pams_DE&f=inden&i=<%%VALUE(id)%%>" target="_blank" title="<%%VALUE(inden)%%>" class="btn btn-default"><i class="glyphicon glyphicon-lg glyphicon-file text-info"></i></a></dd>

					<dt class="pams_DE-Baucer-caption field-caption-tv">Baucer Bayaran</dt>
					<dd id="pams_DE-Baucer-<%%VALUE(id)%%>" class="pams_DE-Baucer"><a href="link.php?t=pams_DE&f=Baucer&i=<%%VALUE(id)%%>" target="_blank" title="<%%VALUE(Baucer)%%>" class="btn btn-default"><i class="glyphicon glyphicon-lg glyphicon-file text-info"></i></a></dd>

					<dt class="pams_DE-gambar_projek_1-caption field-caption-tv">Gambar  </dt>
					<dd id="pams_DE-gambar_projek_1-<%%VALUE(id)%%>" class="pams_DE-gambar_projek_1"><a href="<%%BASE_UPLOAD_PATH%%><%%VALUE(gambar_projek_1)%%>" data-lightbox="pams_DE-gambar_projek_1"><img src="thumbnail.php?i=<%%VALUE(gambar_projek_1)%%>&t=pams_DE&f=gambar_projek_1&v=tv" class="img-thumbnail"></a></dd>

					<dt class="pams_DE-gambar_projek_2-caption field-caption-tv">Gambar   </dt>
					<dd id="pams_DE-gambar_projek_2-<%%VALUE(id)%%>" class="pams_DE-gambar_projek_2"><a href="<%%BASE_UPLOAD_PATH%%><%%VALUE(gambar_projek_2)%%>" data-lightbox="pams_DE-gambar_projek_2"><img src="thumbnail.php?i=<%%VALUE(gambar_projek_2)%%>&t=pams_DE&f=gambar_projek_2&v=tv" class="img-thumbnail"></a></dd>

					<dt class="pams_DE-updated-caption field-caption-tv">Dikemaskini Oleh</dt>
					<dd id="pams_DE-updated-<%%VALUE(id)%%>" class="pams_DE-updated"><%%SELECT%%><%%VALUE(updated)%%><%%ENDSELECT%%></dd>

				</dl>
			</div>
		</td>
		<script>$j(function() {
			var e_inden = '<%%VALUE(inden)%%>'; if(e_inden == '' || e_inden == '&nbsp;') $j(/*<*/ '#pams_DE-inden-<%%VALUE(id)%%>' /*>*/).html('');
			var e_Baucer = '<%%VALUE(Baucer)%%>'; if(e_Baucer == '' || e_Baucer == '&nbsp;') $j(/*<*/ '#pams_DE-Baucer-<%%VALUE(id)%%>' /*>*/).html('');
		});</script>
