		<td colspan="25" class="row">
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="pams_noc-tahun_laksana-caption field-caption-tv">Tahun laksana</dt>
					<dd id="pams_noc-tahun_laksana-<%%VALUE(id)%%>" class="pams_noc-tahun_laksana"><%%VALUE(tahun_laksana)%%></dd>

					<dt class="pams_noc-Kelulusan-caption field-caption-tv">Kelulusan</dt>
					<dd id="pams_noc-Kelulusan-<%%VALUE(id)%%>" class="pams_noc-Kelulusan"><%%VALUE(Kelulusan)%%></dd>

					<dt class="pams_noc-NamaProjek-caption field-caption-tv">Nama Projek</dt>
					<dd id="pams_noc-NamaProjek-<%%VALUE(id)%%>" class="pams_noc-NamaProjek"><%%VALUE(NamaProjek)%%></dd>

					<dt class="pams_noc-negeri-caption field-caption-tv">Negeri</dt>
					<dd id="pams_noc-negeri-<%%VALUE(id)%%>" class="pams_noc-negeri"><%%VALUE(negeri)%%></dd>

					<dt class="pams_noc-Daerah-caption field-caption-tv">Daerah</dt>
					<dd id="pams_noc-Daerah-<%%VALUE(id)%%>" class="pams_noc-Daerah"><%%VALUE(Daerah)%%></dd>

					<dt class="pams_noc-Parlimen-caption field-caption-tv">Parlimen</dt>
					<dd id="pams_noc-Parlimen-<%%VALUE(id)%%>" class="pams_noc-Parlimen"><%%VALUE(Parlimen)%%></dd>

					<dt class="pams_noc-DUN-caption field-caption-tv">DUN</dt>
					<dd id="pams_noc-DUN-<%%VALUE(id)%%>" class="pams_noc-DUN"><%%VALUE(DUN)%%></dd>

					<dt class="pams_noc-penyelia_projek-caption field-caption-tv">Penyelia projek</dt>
					<dd id="pams_noc-penyelia_projek-<%%VALUE(id)%%>" class="pams_noc-penyelia_projek"><%%VALUE(penyelia_projek)%%></dd>

					<dt class="pams_noc-NamaKontraktor-caption field-caption-tv">Nama Kontraktor</dt>
					<dd id="pams_noc-NamaKontraktor-<%%VALUE(id)%%>" class="pams_noc-NamaKontraktor"><%%VALUE(NamaKontraktor)%%></dd>

					<dt class="pams_noc-TarikhSST-caption field-caption-tv">Tarikh SST</dt>
					<dd id="pams_noc-TarikhSST-<%%VALUE(id)%%>" class="pams_noc-TarikhSST"><%%VALUE(TarikhSST)%%></dd>

					<dt class="pams_noc-TarikhSiapSepenuhnya-caption field-caption-tv">Tarikh Siap Projek Sehingga Selesai Bayaran</dt>
					<dd id="pams_noc-TarikhSiapSepenuhnya-<%%VALUE(id)%%>" class="pams_noc-TarikhSiapSepenuhnya"><%%VALUE(TarikhSiapSepenuhnya)%%></dd>

					<dt class="pams_noc-gambar_projek-caption field-caption-tv">Gambar </dt>
					<dd id="pams_noc-gambar_projek-<%%VALUE(id)%%>" class="pams_noc-gambar_projek"><a href="<%%BASE_UPLOAD_PATH%%><%%VALUE(gambar_projek)%%>" data-lightbox="pams_noc-gambar_projek"><img src="thumbnail.php?i=<%%VALUE(gambar_projek)%%>&t=pams_noc&f=gambar_projek&v=tv" class="img-thumbnail"></a></dd>

					<dt class="pams_noc-PeruntukanDiluluskan-caption field-caption-tv"> Peruntukan Diluluskan</dt>
					<dd id="pams_noc-PeruntukanDiluluskan-<%%VALUE(id)%%>" class="pams_noc-PeruntukanDiluluskan"><%%VALUE(PeruntukanDiluluskan)%%></dd>

				</dl>
			</div>
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="pams_noc-Kosprojek-caption field-caption-tv">Kos projek</dt>
					<dd id="pams_noc-Kosprojek-<%%VALUE(id)%%>" class="pams_noc-Kosprojek"><%%VALUE(Kosprojek)%%></dd>

					<dt class="pams_noc-KKSVO-caption field-caption-tv">KKS / VO</dt>
					<dd id="pams_noc-KKSVO-<%%VALUE(id)%%>" class="pams_noc-KKSVO text-right"><%%VALUE(KKSVO)%%></dd>

					<dt class="pams_noc-Perbelanjaan-caption field-caption-tv">Perbelanjaan</dt>
					<dd id="pams_noc-Perbelanjaan-<%%VALUE(id)%%>" class="pams_noc-Perbelanjaan"><%%VALUE(Perbelanjaan)%%></dd>

					<dt class="pams_noc-Penjimatan-caption field-caption-tv">Penjimatan</dt>
					<dd id="pams_noc-Penjimatan-<%%VALUE(id)%%>" class="pams_noc-Penjimatan"><%%VALUE(Penjimatan)%%></dd>

					<dt class="pams_noc-Status-caption field-caption-tv">Status</dt>
					<dd id="pams_noc-Status-<%%VALUE(id)%%>" class="pams_noc-Status"><%%VALUE(Status)%%></dd>

					<dt class="pams_noc-PenerimaManfaat-caption field-caption-tv">Penerima Manfaat</dt>
					<dd id="pams_noc-PenerimaManfaat-<%%VALUE(id)%%>" class="pams_noc-PenerimaManfaat"><%%VALUE(PenerimaManfaat)%%></dd>

					<dt class="pams_noc-sumber_permohonan-caption field-caption-tv">Sumber Permohonan</dt>
					<dd id="pams_noc-sumber_permohonan-<%%VALUE(id)%%>" class="pams_noc-sumber_permohonan"><%%VALUE(sumber_permohonan)%%></dd>

					<dt class="pams_noc-catatan-caption field-caption-tv">Catatan</dt>
					<dd id="pams_noc-catatan-<%%VALUE(id)%%>" class="pams_noc-catatan"><%%VALUE(catatan)%%></dd>

					<dt class="pams_noc-inden-caption field-caption-tv">Inden Kerja</dt>
					<dd id="pams_noc-inden-<%%VALUE(id)%%>" class="pams_noc-inden"><a href="link.php?t=pams_noc&f=inden&i=<%%VALUE(id)%%>" target="_blank" title="<%%VALUE(inden)%%>" class="btn btn-default"><i class="glyphicon glyphicon-lg glyphicon-file text-info"></i></a></dd>

					<dt class="pams_noc-gambar_projek_1-caption field-caption-tv">Gambar   </dt>
					<dd id="pams_noc-gambar_projek_1-<%%VALUE(id)%%>" class="pams_noc-gambar_projek_1"><a href="<%%BASE_UPLOAD_PATH%%><%%VALUE(gambar_projek_1)%%>" data-lightbox="pams_noc-gambar_projek_1"><img src="thumbnail.php?i=<%%VALUE(gambar_projek_1)%%>&t=pams_noc&f=gambar_projek_1&v=tv" class="img-thumbnail"></a></dd>

					<dt class="pams_noc-gambar_projek_2-caption field-caption-tv">Gambar projek</dt>
					<dd id="pams_noc-gambar_projek_2-<%%VALUE(id)%%>" class="pams_noc-gambar_projek_2"><a href="<%%BASE_UPLOAD_PATH%%><%%VALUE(gambar_projek_2)%%>" data-lightbox="pams_noc-gambar_projek_2"><img src="thumbnail.php?i=<%%VALUE(gambar_projek_2)%%>&t=pams_noc&f=gambar_projek_2&v=tv" class="img-thumbnail"></a></dd>

					<dt class="pams_noc-updated-caption field-caption-tv">Dikemaskini Oleh</dt>
					<dd id="pams_noc-updated-<%%VALUE(id)%%>" class="pams_noc-updated"><%%VALUE(updated)%%></dd>

				</dl>
			</div>
		</td>
		<script>$j(function() {
			var e_inden = '<%%VALUE(inden)%%>'; if(e_inden == '' || e_inden == '&nbsp;') $j(/*<*/ '#pams_noc-inden-<%%VALUE(id)%%>' /*>*/).html('');
		});</script>
