		<td colspan="22" class="row">
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="pams_mohon-tahun-caption field-caption-tv">Tahun</dt>
					<dd id="pams_mohon-tahun-<%%VALUE(ID)%%>" class="pams_mohon-tahun"><%%SELECT%%><%%VALUE(tahun)%%><%%ENDSELECT%%></dd>

					<dt class="pams_mohon-negeri-caption field-caption-tv">Negeri</dt>
					<dd id="pams_mohon-negeri-<%%VALUE(ID)%%>" class="pams_mohon-negeri"><%%SELECT%%><%%VALUE(negeri)%%><%%ENDSELECT%%></dd>

					<dt class="pams_mohon-Nama_Projek-caption field-caption-tv">Nama Projek</dt>
					<dd id="pams_mohon-Nama_Projek-<%%VALUE(ID)%%>" class="pams_mohon-Nama_Projek"><%%SELECT%%><%%VALUE(Nama_Projek)%%><%%ENDSELECT%%></dd>

					<dt class="pams_mohon-Daerah-caption field-caption-tv">Daerah</dt>
					<dd id="pams_mohon-Daerah-<%%VALUE(ID)%%>" class="pams_mohon-Daerah"><%%SELECT%%><%%VALUE(Daerah)%%><%%ENDSELECT%%></dd>

					<dt class="pams_mohon-Parlimen-caption field-caption-tv">Parlimen</dt>
					<dd id="pams_mohon-Parlimen-<%%VALUE(ID)%%>" class="pams_mohon-Parlimen"><%%SELECT%%><%%VALUE(Parlimen)%%><%%ENDSELECT%%></dd>

					<dt class="pams_mohon-DUN-caption field-caption-tv">DUN</dt>
					<dd id="pams_mohon-DUN-<%%VALUE(ID)%%>" class="pams_mohon-DUN"><%%SELECT%%><%%VALUE(DUN)%%><%%ENDSELECT%%></dd>

					<dt class="pams_mohon-sumber_mohon-caption field-caption-tv">Sumber mohon</dt>
					<dd id="pams_mohon-sumber_mohon-<%%VALUE(ID)%%>" class="pams_mohon-sumber_mohon"><%%SELECT%%><%%VALUE(sumber_mohon)%%><%%ENDSELECT%%></dd>

					<dt class="pams_mohon-status_tanah-caption field-caption-tv">Status tanah</dt>
					<dd id="pams_mohon-status_tanah-<%%VALUE(ID)%%>" class="pams_mohon-status_tanah"><%%SELECT%%><%%VALUE(status_tanah)%%><%%ENDSELECT%%></dd>

					<dt class="pams_mohon-skop-caption field-caption-tv">Skop Kerja</dt>
					<dd id="pams_mohon-skop-<%%VALUE(ID)%%>" class="pams_mohon-skop"><%%SELECT%%><%%VALUE(skop)%%><%%ENDSELECT%%></dd>

					<dt class="pams_mohon-gambar_projek-caption field-caption-tv">Gambar </dt>
					<dd id="pams_mohon-gambar_projek-<%%VALUE(ID)%%>" class="pams_mohon-gambar_projek"><a href="<%%BASE_UPLOAD_PATH%%><%%VALUE(gambar_projek)%%>" data-lightbox="pams_mohon-gambar_projek"><img src="thumbnail.php?i=<%%VALUE(gambar_projek)%%>&t=pams_mohon&f=gambar_projek&v=tv" class="img-thumbnail"></a></dd>

					<dt class="pams_mohon-gambar_projek_2-caption field-caption-tv">Gambar</dt>
					<dd id="pams_mohon-gambar_projek_2-<%%VALUE(ID)%%>" class="pams_mohon-gambar_projek_2"><a href="<%%BASE_UPLOAD_PATH%%><%%VALUE(gambar_projek_2)%%>" data-lightbox="pams_mohon-gambar_projek_2"><img src="thumbnail.php?i=<%%VALUE(gambar_projek_2)%%>&t=pams_mohon&f=gambar_projek_2&v=tv" class="img-thumbnail"></a></dd>

				</dl>
			</div>
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="pams_mohon-Peta-caption field-caption-tv">Peta</dt>
					<dd id="pams_mohon-Peta-<%%VALUE(ID)%%>" class="pams_mohon-Peta"><%%SELECT%%><img src="<%%GOOGLEMAPTHUMB(Peta)%%>" style="max-width: 100px; max-height: 50px; " ><%%ENDSELECT%%></dd>

					<dt class="pams_mohon-anggaran_kos-caption field-caption-tv">Kos projek</dt>
					<dd id="pams_mohon-anggaran_kos-<%%VALUE(ID)%%>" class="pams_mohon-anggaran_kos"><%%SELECT%%><%%VALUE(anggaran_kos)%%><%%ENDSELECT%%></dd>

					<dt class="pams_mohon-justifikasi-caption field-caption-tv">Justifikasi</dt>
					<dd id="pams_mohon-justifikasi-<%%VALUE(ID)%%>" class="pams_mohon-justifikasi"><%%SELECT%%><%%VALUE(justifikasi)%%><%%ENDSELECT%%></dd>

					<dt class="pams_mohon-PenerimaManfaat-caption field-caption-tv">Penerima Manfaat</dt>
					<dd id="pams_mohon-PenerimaManfaat-<%%VALUE(ID)%%>" class="pams_mohon-PenerimaManfaat"><%%SELECT%%><%%VALUE(PenerimaManfaat)%%><%%ENDSELECT%%></dd>

					<dt class="pams_mohon-catatan-caption field-caption-tv">Catatan</dt>
					<dd id="pams_mohon-catatan-<%%VALUE(ID)%%>" class="pams_mohon-catatan"><%%SELECT%%><%%VALUE(catatan)%%><%%ENDSELECT%%></dd>

					<dt class="pams_mohon-status_permohonan-caption field-caption-tv">Status permohonan</dt>
					<dd id="pams_mohon-status_permohonan-<%%VALUE(ID)%%>" class="pams_mohon-status_permohonan"><%%SELECT%%><%%VALUE(status_permohonan)%%><%%ENDSELECT%%></dd>

					<dt class="pams_mohon-status_kelulusan-caption field-caption-tv">Status kelulusan</dt>
					<dd id="pams_mohon-status_kelulusan-<%%VALUE(ID)%%>" class="pams_mohon-status_kelulusan"><%%SELECT%%><%%VALUE(status_kelulusan)%%><%%ENDSELECT%%></dd>

					<dt class="pams_mohon-sumber_peruntukan-caption field-caption-tv">Sumber peruntukan</dt>
					<dd id="pams_mohon-sumber_peruntukan-<%%VALUE(ID)%%>" class="pams_mohon-sumber_peruntukan"><%%SELECT%%><%%VALUE(sumber_peruntukan)%%><%%ENDSELECT%%></dd>

					<dt class="pams_mohon-gambar_projek_3-caption field-caption-tv">Gambar   </dt>
					<dd id="pams_mohon-gambar_projek_3-<%%VALUE(ID)%%>" class="pams_mohon-gambar_projek_3"><a href="<%%BASE_UPLOAD_PATH%%><%%VALUE(gambar_projek_3)%%>" data-lightbox="pams_mohon-gambar_projek_3"><img src="thumbnail.php?i=<%%VALUE(gambar_projek_3)%%>&t=pams_mohon&f=gambar_projek_3&v=tv" class="img-thumbnail"></a></dd>

					<dt class="pams_mohon-gambar_projek_1-caption field-caption-tv">Gambar   </dt>
					<dd id="pams_mohon-gambar_projek_1-<%%VALUE(ID)%%>" class="pams_mohon-gambar_projek_1"><a href="<%%BASE_UPLOAD_PATH%%><%%VALUE(gambar_projek_1)%%>" data-lightbox="pams_mohon-gambar_projek_1"><img src="thumbnail.php?i=<%%VALUE(gambar_projek_1)%%>&t=pams_mohon&f=gambar_projek_1&v=tv" class="img-thumbnail"></a></dd>

					<dt class="pams_mohon-updated-caption field-caption-tv">Dikemaskini oleh</dt>
					<dd id="pams_mohon-updated-<%%VALUE(ID)%%>" class="pams_mohon-updated"><%%SELECT%%><%%VALUE(updated)%%><%%ENDSELECT%%></dd>

				</dl>
			</div>
		</td>
