<!-- To change the layout of the detail view form, we recommend using JS code in hooks/pemohon_jpd-dv.js rather than editing this file -->

<div id="detail-view"></div>
<div class="panel-heading"><h3 class="panel-title"><strong><%%DETAIL_VIEW_TITLE%%></strong></h3></div>

<div id="pemohon_jpd_dv_container-loading" class="text-center text-info text-bold vspacer-lg"><i class="glyphicon glyphicon-refresh loop-rotate"></i> <%%TRANSLATION(Loading ...)%%></div>

<div class="panel-body hidden" id="pemohon_jpd_dv_container">
	<!-- child links -->
	<div class="row vspacer-md">
		<div class="col-xs-12 children-links">
			<a class="hidden-xs btn btn-default btn-lg pull-right hidden hspacer-sm vspacer-sm" href="status_kelulusan_jpd_view.php?filterer_pemohon=<%%URLVALUE(ID)%%>&<%%EMBEDDED%%>" id="status_kelulusan_jpd_link"><i class="glyphicon glyphicon-list-alt"></i> Kelulusan JPD</a>
			<a class="visible-xs btn btn-default btn-lg btn-block hidden vspacer-sm" href="status_kelulusan_jpd_view.php?filterer_pemohon=<%%URLVALUE(ID)%%>&<%%EMBEDDED%%>" id="xs_status_kelulusan_jpd_link"><i class="glyphicon glyphicon-list-alt"></i> Kelulusan JPD</a>
			<input type="hidden" id="status_kelulusan_jpd_hclink" value="status_kelulusan_jpd_view.php?filterer_pemohon=<%%URLVALUE(ID)%%>&<%%EMBEDDED%%>">
			<div class="clearfix"></div>
		</div>
	</div>
	<hr class="hidden-xs hidden-sm">

	<div class="row">
		<!-- form inputs -->
		<div class="col-md-8 col-lg-10" id="pemohon_jpd_dv_form">
			<fieldset class="form-horizontal">

				<!-- Field: Tahun -->
				<div class="form-group pemohon_jpd-tahun">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="tahun" data-parent_link="view_parent_modal">Tahun</label>
					<div class="col-lg-9">
						<div class="form-control-static" style="white-space: nowrap; overflow-x: hidden;"><%%COMBO(tahun)%%><%%PLINK(tahun)%%><%%ADDNEW(tahun)%%></div>
					</div>
				</div>

				<!-- Field: Nama Projek -->
				<div class="form-group pemohon_jpd-Nama_Projek">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="Nama_Projek">Nama Projek</label>
					<div class="col-lg-9">
						<textarea class="form-control" name="Nama_Projek" id="Nama_Projek" rows=" 5"><%%VALUE(Nama_Projek)%%></textarea>
					</div>
				</div>

				<!-- Field: NEGERI -->
				<div class="form-group pemohon_jpd-negeri">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="negeri" data-parent_link="view_parent_modal">NEGERI</label>
					<div class="col-lg-9">
						<div class="form-control-static" style="white-space: nowrap; overflow-x: hidden;"><%%COMBO(negeri)%%><%%PLINK(negeri)%%><%%ADDNEW(negeri)%%></div>
					</div>
				</div>

				<!-- Field: Daerah -->
				<div class="form-group pemohon_jpd-Daerah">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="Daerah" data-parent_link="view_parent_modal">Daerah</label>
					<div class="col-lg-9">
						<div class="form-control-static" style="white-space: nowrap; overflow-x: hidden;"><%%COMBO(Daerah)%%><%%PLINK(Daerah)%%><%%ADDNEW(daerah)%%></div>
					</div>
				</div>

				<!-- Field: Parlimen -->
				<div class="form-group pemohon_jpd-Parlimen">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="Parlimen" data-parent_link="view_parent_modal">Parlimen</label>
					<div class="col-lg-9">
						<div class="form-control-static" style="white-space: nowrap; overflow-x: hidden;"><%%COMBO(Parlimen)%%><%%PLINK(Parlimen)%%><%%ADDNEW(PARLIMEN)%%></div>
					</div>
				</div>

				<!-- Field: DUN -->
				<div class="form-group pemohon_jpd-DUN">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="DUN" data-parent_link="view_parent_modal">DUN</label>
					<div class="col-lg-9">
						<div class="form-control-static" style="white-space: nowrap; overflow-x: hidden;"><%%COMBO(DUN)%%><%%PLINK(DUN)%%><%%ADDNEW(Dun)%%></div>
					</div>
				</div>

				<!-- Field: Status tanah -->
				<div class="form-group pemohon_jpd-status_tanah">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="status_tanah">Status tanah</label>
					<div class="col-lg-9">
						<%%COMBO(status_tanah)%%>
					</div>
				</div>

				<!-- Field: Panjang Jalan (M) -->
				<div class="form-group pemohon_jpd-PanjangJalanM">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="PanjangJalanM">Panjang Jalan (M)</label>
					<div class="col-lg-9">
						<input maxlength="255" type="text" class="form-control" name="PanjangJalanM" id="PanjangJalanM" value="<%%VALUE(PanjangJalanM)%%>">
					</div>
				</div>

				<!-- Field: Lebar (M) -->
				<div class="form-group pemohon_jpd-LebarM">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="LebarM">Lebar (M)</label>
					<div class="col-lg-9">
						<input maxlength="255" type="text" class="form-control" name="LebarM" id="LebarM" value="<%%VALUE(LebarM)%%>">
					</div>
				</div>

				<!-- Field: Skop -->
				<div class="form-group pemohon_jpd-skop">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="skop" data-parent_link="view_parent_modal">Skop</label>
					<div class="col-lg-9">
						<div class="form-control-static" style="white-space: nowrap; overflow-x: hidden;"><%%COMBO(skop)%%><%%PLINK(skop)%%><%%ADDNEW(skop_jpd)%%></div>
					</div>
				</div>

				<!-- Field: Gambar  -->
				<div class="form-group pemohon_jpd-gambar_projek">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3">Gambar  <i class="glyphicon glyphicon-info-sign text-info" data-toggle="collapse" data-target="#gambar_projek-description"></i></label>
					<div class="col-lg-9">
						<span class="help-block bspacer-xs collapse" id="gambar_projek-description"><div class="alert alert-info bspacer-xs">Maximum file size allowed: 10000 KB.<br>Allowed file types: jpg, jpeg, gif, png</div></span>
						<div class="form-control-static well well-sm">
							<div class="pull-left"><a href="<%%BASE_UPLOAD_PATH%%><%%VALUE(gambar_projek)%%>" data-lightbox="pemohon_jpd_dv"><img src="thumbnail.php?i=<%%VALUE(gambar_projek)%%>&t=pemohon_jpd&f=gambar_projek&v=dv" class="img-thumbnail" id="gambar_projek-image"></a></div>
							<div class="pull-right well upload-toolbox">
								<div class="hidden-md hidden-lg vspacer-lg"></div>
								<%%UPLOADFILE(gambar_projek)%%>
								<%%REMOVEFILE(gambar_projek)%%>
								<div class="text-bold text-danger file-type-error hidden"><%%TRANSLATION(invalid file type)%%></div>
								<div class="text-bold text-danger file-size-error hidden"><%%TRANSLATION(file too large)%%></div>
							</div>
							<div class="clearfix"></div>
						</div>
						<script>/* disable links to empty images */ $j(function() { var e_gambar_projek = '<%%VALUE(gambar_projek)%%>'; if(e_gambar_projek == '' || e_gambar_projek == '&nbsp;' || e_gambar_projek == 'blank.gif') { $j('#gambar_projek-link').hide(); $j('#gambar_projek-image').parents('a').attr('href', '').on('click', function(e) { e.preventDefault(); }); } });</script>
					</div>
				</div>

				<!-- Field: Gambar -->
				<div class="form-group pemohon_jpd-gambar_projek_1">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3">Gambar <i class="glyphicon glyphicon-info-sign text-info" data-toggle="collapse" data-target="#gambar_projek_1-description"></i></label>
					<div class="col-lg-9">
						<span class="help-block bspacer-xs collapse" id="gambar_projek_1-description"><div class="alert alert-info bspacer-xs">Maximum file size allowed: 10000 KB.<br>Allowed file types: jpg, jpeg, gif, png</div></span>
						<div class="form-control-static well well-sm">
							<div class="pull-left"><a href="<%%BASE_UPLOAD_PATH%%><%%VALUE(gambar_projek_1)%%>" data-lightbox="pemohon_jpd_dv"><img src="thumbnail.php?i=<%%VALUE(gambar_projek_1)%%>&t=pemohon_jpd&f=gambar_projek_1&v=dv" class="img-thumbnail" id="gambar_projek_1-image"></a></div>
							<div class="pull-right well upload-toolbox">
								<div class="hidden-md hidden-lg vspacer-lg"></div>
								<%%UPLOADFILE(gambar_projek_1)%%>
								<%%REMOVEFILE(gambar_projek_1)%%>
								<div class="text-bold text-danger file-type-error hidden"><%%TRANSLATION(invalid file type)%%></div>
								<div class="text-bold text-danger file-size-error hidden"><%%TRANSLATION(file too large)%%></div>
							</div>
							<div class="clearfix"></div>
						</div>
						<script>/* disable links to empty images */ $j(function() { var e_gambar_projek_1 = '<%%VALUE(gambar_projek_1)%%>'; if(e_gambar_projek_1 == '' || e_gambar_projek_1 == '&nbsp;' || e_gambar_projek_1 == 'blank.gif') { $j('#gambar_projek_1-link').hide(); $j('#gambar_projek_1-image').parents('a').attr('href', '').on('click', function(e) { e.preventDefault(); }); } });</script>
					</div>
				</div>

				<!-- Field: Sumber mohon -->
				<div class="form-group pemohon_jpd-sumber_mohon">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="sumber_mohon">Sumber mohon</label>
					<div class="col-lg-9">
						<input maxlength="40" type="text" class="form-control" name="sumber_mohon" id="sumber_mohon" value="<%%VALUE(sumber_mohon)%%>">
					</div>
				</div>

				<!-- Field: Peta -->
				<div class="form-group pemohon_jpd-Peta">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="Peta-edit-link">Peta</label>
					<div class="col-lg-9">
						<div class="form-control-static"><div class="rspacer-lg"><%%GOOGLEMAP(Peta)%%></div><label for="Peta"><button type="button" id="Peta-edit-link" class="btn btn-default vspacer-sm" data-toggle="collapse" data-target="#Peta" title="<%%TRANSLATION(Edit)%%>"><i class="glyphicon glyphicon-pencil"></i></button></label><input maxlength="255" type="text" class="form-control collapse" name="Peta" id="Peta" value="<%%VALUE(Peta)%%>"></div>
					</div>
				</div>

				<!-- Field: Kos projek -->
				<div class="form-group pemohon_jpd-anggaran_kos">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="anggaran_kos">Kos projek</label>
					<div class="col-lg-9">
						<input maxlength="13" type="text" class="form-control" name="anggaran_kos" id="anggaran_kos" value="<%%VALUE(anggaran_kos)%%>">
					</div>
				</div>

				<!-- Field: Justifikasi -->
				<div class="form-group pemohon_jpd-justifikasi">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="justifikasi">Justifikasi</label>
					<div class="col-lg-9">
						<textarea class="form-control" name="justifikasi" id="justifikasi" rows=" 5"><%%VALUE(justifikasi)%%></textarea>
					</div>
				</div>

				<!-- Field: Penerima Manfaat -->
				<div class="form-group pemohon_jpd-PenerimaManfaat">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="PenerimaManfaat">Penerima Manfaat</label>
					<div class="col-lg-9">
						<input maxlength="40" type="text" class="form-control" name="PenerimaManfaat" id="PenerimaManfaat" value="<%%VALUE(PenerimaManfaat)%%>">
					</div>
				</div>

				<!-- Field: Nama mpkk jpkkp -->
				<div class="form-group pemohon_jpd-nama_mpkk_jpkkp">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="nama_mpkk_jpkkp">Nama mpkk jpkkp</label>
					<div class="col-lg-9">
						<input maxlength="40" type="text" class="form-control" name="nama_mpkk_jpkkp" id="nama_mpkk_jpkkp" value="<%%VALUE(nama_mpkk_jpkkp)%%>">
					</div>
				</div>

				<!-- Field: No tel mpkk jpkkp -->
				<div class="form-group pemohon_jpd-no_tel_mpkk_jpkkp">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="no_tel_mpkk_jpkkp">No tel mpkk jpkkp</label>
					<div class="col-lg-9">
						<textarea class="form-control" name="no_tel_mpkk_jpkkp" id="no_tel_mpkk_jpkkp" rows=" 5"><%%VALUE(no_tel_mpkk_jpkkp)%%></textarea>
					</div>
				</div>

				<!-- Field: Catatan -->
				<div class="form-group pemohon_jpd-catatan">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="catatan">Catatan</label>
					<div class="col-lg-9">
						<textarea class="form-control" name="catatan" id="catatan" rows=" 5"><%%VALUE(catatan)%%></textarea>
					</div>
				</div>

				<!-- Field: Status permohonan -->
				<div class="form-group pemohon_jpd-status_permohonan">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3">Status permohonan</label>
					<div class="col-lg-9">
						<div class="form-control-static" id="status_permohonan"><%%VALUE(status_permohonan)%%></div>
					</div>
				</div>

				<!-- Field: Status kelulusan -->
				<div class="form-group pemohon_jpd-status_kelulusan">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3">Status kelulusan</label>
					<div class="col-lg-9">
						<div class="form-control-static" id="status_kelulusan"><%%VALUE(status_kelulusan)%%></div>
					</div>
				</div>

				<!-- Field: Sumber peruntukan -->
				<div class="form-group pemohon_jpd-sumber_peruntukan">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="sumber_peruntukan">Sumber peruntukan</label>
					<div class="col-lg-9">
						<%%COMBO(sumber_peruntukan)%%>
					</div>
				</div>

				<!-- Field: Dikemaskini oleh -->
				<div class="form-group pemohon_jpd-updated">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3">Dikemaskini oleh</label>
					<div class="col-lg-9">
						<div class="form-control-static" id="updated"><%%VALUE(updated)%%></div>
					</div>
				</div>

				<!-- Field: Gambar   -->
				<div class="form-group pemohon_jpd-gambar_projek2">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3">Gambar   <i class="glyphicon glyphicon-info-sign text-info" data-toggle="collapse" data-target="#gambar_projek2-description"></i></label>
					<div class="col-lg-9">
						<span class="help-block bspacer-xs collapse" id="gambar_projek2-description"><div class="alert alert-info bspacer-xs">Maximum file size allowed: 10000 KB.<br>Allowed file types: jpg, jpeg, gif, png</div></span>
						<div class="form-control-static well well-sm">
							<div class="pull-left"><img src="thumbnail.php?i=<%%VALUE(gambar_projek2)%%>&t=pemohon_jpd&f=gambar_projek2&v=dv" class="img-thumbnail" id="gambar_projek2-image"></div>
							<div class="pull-right well upload-toolbox">
								<div class="hidden-md hidden-lg vspacer-lg"></div>
								<%%UPLOADFILE(gambar_projek2)%%>
								<%%REMOVEFILE(gambar_projek2)%%>
								<div class="text-bold text-danger file-type-error hidden"><%%TRANSLATION(invalid file type)%%></div>
								<div class="text-bold text-danger file-size-error hidden"><%%TRANSLATION(file too large)%%></div>
							</div>
							<div class="clearfix"></div>
						</div>
						
					</div>
				</div>

				<!-- Field: Gambar    -->
				<div class="form-group pemohon_jpd-gambar_projek3">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3">Gambar    <i class="glyphicon glyphicon-info-sign text-info" data-toggle="collapse" data-target="#gambar_projek3-description"></i></label>
					<div class="col-lg-9">
						<span class="help-block bspacer-xs collapse" id="gambar_projek3-description"><div class="alert alert-info bspacer-xs">Maximum file size allowed: 10000 KB.<br>Allowed file types: jpg, jpeg, gif, png</div></span>
						<div class="form-control-static well well-sm">
							<div class="pull-left"><img src="thumbnail.php?i=<%%VALUE(gambar_projek3)%%>&t=pemohon_jpd&f=gambar_projek3&v=dv" class="img-thumbnail" id="gambar_projek3-image"></div>
							<div class="pull-right well upload-toolbox">
								<div class="hidden-md hidden-lg vspacer-lg"></div>
								<%%UPLOADFILE(gambar_projek3)%%>
								<%%REMOVEFILE(gambar_projek3)%%>
								<div class="text-bold text-danger file-type-error hidden"><%%TRANSLATION(invalid file type)%%></div>
								<div class="text-bold text-danger file-size-error hidden"><%%TRANSLATION(file too large)%%></div>
							</div>
							<div class="clearfix"></div>
						</div>
						
					</div>
				</div>

			</fieldset>
		</div>

		<!-- DV action buttons -->
		<hr class="hidden-md hidden-lg">
		<div class="col-md-4 col-lg-2" id="pemohon_jpd_dv_action_buttons">
			<div class="btn-toolbar">
				<div class="btn-group-vertical btn-group-lg" style="width: 100%;">
					<%%UPDATE_BUTTON%%>
				</div><p></p>
				<div class="btn-group-vertical btn-group-lg" style="width: 100%;">
					<%%DESELECT_BUTTON%%>
					<%%DVPRINT_BUTTON%%>
					<%%DELETE_BUTTON%%>
				</div><p></p>
				<div class="btn-group-vertical btn-group-lg" style="width: 100%;">
					<%%INSERT_BUTTON%%>
				</div>
			</div>
		</div>
	</div>


	<!-- child records -->
	<hr>
	<div class="row">
		<div class="col-lg-10 col-lg-offset-1">
			<div id="pemohon_jpd-children" class="children-tabs">
				<div class="text-center"><i class="glyphicon glyphicon-refresh loop-rotate"></i> <%%TRANSLATION(Loading ...)%%></div>
			</div>
		</div>
	</div>

</div><!-- /div class="panel-body" -->
	<script>
		$j(function() {
			var add_new_mode = (!$j('input[name=SelectedID]').val());
			var embedded_mode = ($j('input[name=Embedded]').val() == 1);

			/* auto-close embedded page? */
			var autoclose_mode = ($j('input[name=AutoClose]').val() == 1);
			var record_added_ok = (location.search.split('record-added-ok=').length == 2);
			var record_updated_ok = (location.search.split('record-updated-ok=').length == 2);
			if((record_added_ok || record_updated_ok) && embedded_mode && autoclose_mode) {
				setTimeout(AppGini.closeParentModal, 2000);
			}


			/* enable DV action buttons to float on scrolling down the form */
			enable_dvab_floating();

			$j('#pemohon_jpd_dv_container-loading').addClass('hidden');
			$j('#pemohon_jpd_dv_container').removeClass('hidden');

			$j('form').eq(0).change(function() {
				if($j(this).data('already_changed')) return;
				if($j('#deselect').length) $j('#deselect').removeClass('btn-default').addClass('btn-warning').get(0).lastChild.data = " <%%TRANSLATION(Cancel)%%>";
				$j(this).data('already_changed', true);
			});

			$j('a[href="<%%BASE_UPLOAD_PATH%%>"]').click(function() { return false; });

			if(embedded_mode) {
				/* hide links to children tables in embedded mode */
				$j('.detail_view a[id$=_link]').remove();

				/* append embedded mode to all links */
				var append_embedded = function() {
					$j('a[href]:not([href^="#"]):not([href^="javascript"]):not([href$="Embedded=1"]):not([href*="link.php?t="]):not([href^="mailto:"])').each(
						function() {
							$j(this).attr('href', $j(this).attr('href') + '&Embedded=1');
						}
					);
				}
				setTimeout(append_embedded, 500);
				setTimeout(append_embedded, 1500);
				setTimeout(append_embedded, 2500);
				setTimeout(append_embedded, 3500);
			}

			/* when no record is selected ('add new' mode) */
			if(add_new_mode) {
				/* hide links to children tables */
				$j('.detail_view a[id$=_link]').remove();
			} else {
				post(
					'parent-children.php', {
						ParentTable: 'pemohon_jpd',
						SelectedID: '<%%VALUE(ID)%%>',
						Operation: 'show-children'
					},
					'pemohon_jpd-children'
				);
			}

			if(true /* !embedded_mode */) {
				/* add a horizontal spacer to [add new parent] buttons that don't have a spacered element before them */
				$j('.add_new_parent').prev(':not(.hspacer-md)').next().addClass('hspacer-md');

				$j('.add_new_parent').click(function() {
					var pt = $j(this).attr('id').replace(/_add_new$/, '');
					modal_window({
						url: pt + '_view.php?addNew_x=1&Embedded=1',
						close: function() {
							var field_id = $j('#' + pt + '_add_new').prevAll('input:hidden').eq(0).attr('id');
							$j('#' + field_id + '-container').select2('focus').select2('focus');

							/* if a new parent was added, select it */
							var new_id = localStorage.getItem(pt + '_last_added_id');
							if(new_id === null) return;

							localStorage.removeItem(pt + '_last_added_id');
							AppGini.lookupText({
								id: new_id,
								table: 'pemohon_jpd',
								field: field_id,
								callback: function(data) {
									$j('#' + field_id + '-container').select2('data', data, true);
								}
							});
						},
						size: 'full',
						title: $j(this).attr('title')
					});
				});
			}

			AppGini.hideViewParentLinks();

			$j('form').on('click', '.view_parent', function() {
				var pt = $j(this).attr('id').replace(/_view_parent$/, '');
				if($j(this).prevAll('input:hidden').length) {
					var parent_id = $j(this).prevAll('input:hidden').eq(0).val();
				} else {
					var parent_id = $j(this).prevAll().children('input:hidden').eq(0).val();
				}

				/* handle radio lookups */
				if($j(this).prevAll('[type=radio]').length) {
					parent_id = $j(this).prevAll('[type=radio]').eq(0).val();
				}

				if(parent_id != '{empty_value}' && parent_id != undefined && parent_id != '') {
					var parent_link = $j(this).parents('.form-group').children('label').data('parent_link');
					switch(parent_link) {
						case 'view_parent_hidden':
							break;
						case 'view_parent_modal':
							modal_window({
								url: pt + '_view.php?Embedded=1&SelectedID=' + encodeURIComponent(parent_id),
								close: function() {
									var field_id = $j('#' + pt + '_view_parent').prevAll('input:hidden').eq(0).attr('id');
									$j('#' + field_id + '-container').select2('focus').select2('focus');
								},
								size: 'full',
								title: $j(this).attr('title')
							});
							break;
						case 'view_parent_same_window':
							window.location = pt + '_view.php?Embedded=' + (embedded_mode ? '1' : '') + '&SelectedID=' + encodeURIComponent(parent_id);
							break;
						case 'view_parent_new_window':
							window.open(pt + '_view.php?SelectedID=' + encodeURIComponent(parent_id));
							break;
					}

				}
			});


			/* load admin tools for admin user */
			if(!add_new_mode) {
				$j('body').append('<div id="admin-tools-appendix"></div>');
				$j('#admin-tools-appendix').load(
					'ajax_admin_tools.php?table=pemohon_jpd&id=<%%URLVALUE(ID)%%>',
					function(resp) {
						if(!resp.length) return;
						$j.ajax('ajax_admin_tools.php?action=get_admin_tools_js&table=pemohon_jpd&id=<%%URLVALUE(ID)%%>');
					}
				);
			}

			/* warn user if 'add new' clicked while unsaved changes exist */
			$j('#addNew').click(function() {
				if($j('#deselect.btn-warning').length) {
					return confirm('<%%TRANSLATION(discard changes confirm)%%>');
				}
			});

		});
	</script>