		<td colspan="24" class="row">
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="pemohon_jpd-tahun-caption field-caption-tv">Tahun</dt>
					<dd id="pemohon_jpd-tahun-<%%VALUE(ID)%%>" class="pemohon_jpd-tahun"><%%SELECT%%><%%VALUE(tahun)%%><%%ENDSELECT%%></dd>

					<dt class="pemohon_jpd-Nama_Projek-caption field-caption-tv">Nama Projek</dt>
					<dd id="pemohon_jpd-Nama_Projek-<%%VALUE(ID)%%>" class="pemohon_jpd-Nama_Projek"><%%SELECT%%><%%VALUE(Nama_Projek)%%><%%ENDSELECT%%></dd>

					<dt class="pemohon_jpd-negeri-caption field-caption-tv">NEGERI</dt>
					<dd id="pemohon_jpd-negeri-<%%VALUE(ID)%%>" class="pemohon_jpd-negeri"><%%SELECT%%><%%VALUE(negeri)%%><%%ENDSELECT%%></dd>

					<dt class="pemohon_jpd-Daerah-caption field-caption-tv">Daerah</dt>
					<dd id="pemohon_jpd-Daerah-<%%VALUE(ID)%%>" class="pemohon_jpd-Daerah"><%%SELECT%%><%%VALUE(Daerah)%%><%%ENDSELECT%%></dd>

					<dt class="pemohon_jpd-Parlimen-caption field-caption-tv">Parlimen</dt>
					<dd id="pemohon_jpd-Parlimen-<%%VALUE(ID)%%>" class="pemohon_jpd-Parlimen"><%%SELECT%%><%%VALUE(Parlimen)%%><%%ENDSELECT%%></dd>

					<dt class="pemohon_jpd-DUN-caption field-caption-tv">DUN</dt>
					<dd id="pemohon_jpd-DUN-<%%VALUE(ID)%%>" class="pemohon_jpd-DUN"><%%SELECT%%><%%VALUE(DUN)%%><%%ENDSELECT%%></dd>

					<dt class="pemohon_jpd-status_tanah-caption field-caption-tv">Status tanah</dt>
					<dd id="pemohon_jpd-status_tanah-<%%VALUE(ID)%%>" class="pemohon_jpd-status_tanah"><%%SELECT%%><%%VALUE(status_tanah)%%><%%ENDSELECT%%></dd>

					<dt class="pemohon_jpd-PanjangJalanM-caption field-caption-tv">Panjang Jalan (M)</dt>
					<dd id="pemohon_jpd-PanjangJalanM-<%%VALUE(ID)%%>" class="pemohon_jpd-PanjangJalanM"><%%SELECT%%><%%VALUE(PanjangJalanM)%%><%%ENDSELECT%%></dd>

					<dt class="pemohon_jpd-LebarM-caption field-caption-tv">Lebar (M)</dt>
					<dd id="pemohon_jpd-LebarM-<%%VALUE(ID)%%>" class="pemohon_jpd-LebarM"><%%SELECT%%><%%VALUE(LebarM)%%><%%ENDSELECT%%></dd>

					<dt class="pemohon_jpd-skop-caption field-caption-tv">Skop</dt>
					<dd id="pemohon_jpd-skop-<%%VALUE(ID)%%>" class="pemohon_jpd-skop"><%%SELECT%%><%%VALUE(skop)%%><%%ENDSELECT%%></dd>

					<dt class="pemohon_jpd-gambar_projek-caption field-caption-tv">Gambar </dt>
					<dd id="pemohon_jpd-gambar_projek-<%%VALUE(ID)%%>" class="pemohon_jpd-gambar_projek"><a href="<%%BASE_UPLOAD_PATH%%><%%VALUE(gambar_projek)%%>" data-lightbox="pemohon_jpd-gambar_projek"><img src="thumbnail.php?i=<%%VALUE(gambar_projek)%%>&t=pemohon_jpd&f=gambar_projek&v=tv" class="img-thumbnail"></a></dd>

					<dt class="pemohon_jpd-gambar_projek_1-caption field-caption-tv">Gambar</dt>
					<dd id="pemohon_jpd-gambar_projek_1-<%%VALUE(ID)%%>" class="pemohon_jpd-gambar_projek_1"><a href="<%%BASE_UPLOAD_PATH%%><%%VALUE(gambar_projek_1)%%>" data-lightbox="pemohon_jpd-gambar_projek_1"><img src="thumbnail.php?i=<%%VALUE(gambar_projek_1)%%>&t=pemohon_jpd&f=gambar_projek_1&v=tv" class="img-thumbnail"></a></dd>

				</dl>
			</div>
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="pemohon_jpd-sumber_mohon-caption field-caption-tv">Sumber mohon</dt>
					<dd id="pemohon_jpd-sumber_mohon-<%%VALUE(ID)%%>" class="pemohon_jpd-sumber_mohon"><%%SELECT%%><%%VALUE(sumber_mohon)%%><%%ENDSELECT%%></dd>

					<dt class="pemohon_jpd-Peta-caption field-caption-tv">Peta</dt>
					<dd id="pemohon_jpd-Peta-<%%VALUE(ID)%%>" class="pemohon_jpd-Peta"><%%SELECT%%><img src="<%%GOOGLEMAPTHUMB(Peta)%%>" style="max-width: 100px; max-height: 50px; " ><%%ENDSELECT%%></dd>

					<dt class="pemohon_jpd-anggaran_kos-caption field-caption-tv">Kos projek</dt>
					<dd id="pemohon_jpd-anggaran_kos-<%%VALUE(ID)%%>" class="pemohon_jpd-anggaran_kos"><%%SELECT%%><%%VALUE(anggaran_kos)%%><%%ENDSELECT%%></dd>

					<dt class="pemohon_jpd-justifikasi-caption field-caption-tv">Justifikasi</dt>
					<dd id="pemohon_jpd-justifikasi-<%%VALUE(ID)%%>" class="pemohon_jpd-justifikasi"><%%SELECT%%><%%VALUE(justifikasi)%%><%%ENDSELECT%%></dd>

					<dt class="pemohon_jpd-PenerimaManfaat-caption field-caption-tv">Penerima Manfaat</dt>
					<dd id="pemohon_jpd-PenerimaManfaat-<%%VALUE(ID)%%>" class="pemohon_jpd-PenerimaManfaat"><%%SELECT%%><%%VALUE(PenerimaManfaat)%%><%%ENDSELECT%%></dd>

					<dt class="pemohon_jpd-catatan-caption field-caption-tv">Catatan</dt>
					<dd id="pemohon_jpd-catatan-<%%VALUE(ID)%%>" class="pemohon_jpd-catatan"><%%SELECT%%><%%VALUE(catatan)%%><%%ENDSELECT%%></dd>

					<dt class="pemohon_jpd-status_permohonan-caption field-caption-tv">Status permohonan</dt>
					<dd id="pemohon_jpd-status_permohonan-<%%VALUE(ID)%%>" class="pemohon_jpd-status_permohonan"><%%SELECT%%><%%VALUE(status_permohonan)%%><%%ENDSELECT%%></dd>

					<dt class="pemohon_jpd-status_kelulusan-caption field-caption-tv">Status kelulusan</dt>
					<dd id="pemohon_jpd-status_kelulusan-<%%VALUE(ID)%%>" class="pemohon_jpd-status_kelulusan"><%%SELECT%%><%%VALUE(status_kelulusan)%%><%%ENDSELECT%%></dd>

					<dt class="pemohon_jpd-sumber_peruntukan-caption field-caption-tv">Sumber peruntukan</dt>
					<dd id="pemohon_jpd-sumber_peruntukan-<%%VALUE(ID)%%>" class="pemohon_jpd-sumber_peruntukan"><%%SELECT%%><%%VALUE(sumber_peruntukan)%%><%%ENDSELECT%%></dd>

					<dt class="pemohon_jpd-updated-caption field-caption-tv">Dikemaskini oleh</dt>
					<dd id="pemohon_jpd-updated-<%%VALUE(ID)%%>" class="pemohon_jpd-updated"><%%SELECT%%><%%VALUE(updated)%%><%%ENDSELECT%%></dd>

					<dt class="pemohon_jpd-gambar_projek2-caption field-caption-tv">Gambar  </dt>
					<dd id="pemohon_jpd-gambar_projek2-<%%VALUE(ID)%%>" class="pemohon_jpd-gambar_projek2"><a href="<%%BASE_UPLOAD_PATH%%><%%VALUE(gambar_projek2)%%>" data-lightbox="pemohon_jpd-gambar_projek2"><img src="thumbnail.php?i=<%%VALUE(gambar_projek2)%%>&t=pemohon_jpd&f=gambar_projek2&v=tv" class="img-thumbnail"></a></dd>

					<dt class="pemohon_jpd-gambar_projek3-caption field-caption-tv">Gambar   </dt>
					<dd id="pemohon_jpd-gambar_projek3-<%%VALUE(ID)%%>" class="pemohon_jpd-gambar_projek3"><a href="<%%BASE_UPLOAD_PATH%%><%%VALUE(gambar_projek3)%%>" data-lightbox="pemohon_jpd-gambar_projek3"><img src="thumbnail.php?i=<%%VALUE(gambar_projek3)%%>&t=pemohon_jpd&f=gambar_projek3&v=tv" class="img-thumbnail"></a></dd>

				</dl>
			</div>
		</td>
