		<td colspan="28" class="row">
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="pprt-tahun_laksana-caption field-caption-tv">Tahun laksana</dt>
					<dd id="pprt-tahun_laksana-<%%VALUE(ID)%%>" class="pprt-tahun_laksana"><%%SELECT%%><%%VALUE(tahun_laksana)%%><%%ENDSELECT%%></dd>

					<dt class="pprt-Kelulusan-caption field-caption-tv">Kelulusan</dt>
					<dd id="pprt-Kelulusan-<%%VALUE(ID)%%>" class="pprt-Kelulusan"><%%SELECT%%><%%VALUE(Kelulusan)%%><%%ENDSELECT%%></dd>

					<dt class="pprt-Nama-caption field-caption-tv">Nama Pemohon</dt>
					<dd id="pprt-Nama-<%%VALUE(ID)%%>" class="pprt-Nama"><%%SELECT%%><%%VALUE(Nama)%%><%%ENDSELECT%%></dd>

					<dt class="pprt-IC-caption field-caption-tv">No Kad Pengenalan</dt>
					<dd id="pprt-IC-<%%VALUE(ID)%%>" class="pprt-IC"><%%SELECT%%><%%VALUE(IC)%%><%%ENDSELECT%%></dd>

					<dt class="pprt-alamat-caption field-caption-tv">Alamat</dt>
					<dd id="pprt-alamat-<%%VALUE(ID)%%>" class="pprt-alamat"><%%SELECT%%><%%VALUE(alamat)%%><%%ENDSELECT%%></dd>

					<dt class="pprt-ekasih-caption field-caption-tv">Status E-Kasih</dt>
					<dd id="pprt-ekasih-<%%VALUE(ID)%%>" class="pprt-ekasih"><%%SELECT%%><%%VALUE(ekasih)%%><%%ENDSELECT%%></dd>

					<dt class="pprt-negeri-caption field-caption-tv">Negeri</dt>
					<dd id="pprt-negeri-<%%VALUE(ID)%%>" class="pprt-negeri"><%%SELECT%%><%%VALUE(negeri)%%><%%ENDSELECT%%></dd>

					<dt class="pprt-Daerah-caption field-caption-tv">Daerah</dt>
					<dd id="pprt-Daerah-<%%VALUE(ID)%%>" class="pprt-Daerah"><%%SELECT%%><%%VALUE(Daerah)%%><%%ENDSELECT%%></dd>

					<dt class="pprt-Parlimen-caption field-caption-tv">Parlimen</dt>
					<dd id="pprt-Parlimen-<%%VALUE(ID)%%>" class="pprt-Parlimen"><%%SELECT%%><%%VALUE(Parlimen)%%><%%ENDSELECT%%></dd>

					<dt class="pprt-DUN-caption field-caption-tv">DUN</dt>
					<dd id="pprt-DUN-<%%VALUE(ID)%%>" class="pprt-DUN"><%%SELECT%%><%%VALUE(DUN)%%><%%ENDSELECT%%></dd>

					<dt class="pprt-AgensiPelaksana-caption field-caption-tv">Agensi Pelaksana</dt>
					<dd id="pprt-AgensiPelaksana-<%%VALUE(ID)%%>" class="pprt-AgensiPelaksana"><%%SELECT%%><%%VALUE(AgensiPelaksana)%%><%%ENDSELECT%%></dd>

					<dt class="pprt-NamaKontraktor-caption field-caption-tv">Nama Kontraktor</dt>
					<dd id="pprt-NamaKontraktor-<%%VALUE(ID)%%>" class="pprt-NamaKontraktor"><%%SELECT%%><%%VALUE(NamaKontraktor)%%><%%ENDSELECT%%></dd>

					<dt class="pprt-TarikhTawaranSSTLantikan-caption field-caption-tv">Tarikh SST</dt>
					<dd id="pprt-TarikhTawaranSSTLantikan-<%%VALUE(ID)%%>" class="pprt-TarikhTawaranSSTLantikan"><%%SELECT%%><%%VALUE(TarikhTawaranSSTLantikan)%%><%%ENDSELECT%%></dd>

					<dt class="pprt-TarikhSiapProjek-caption field-caption-tv">Tarikh Siap Projek</dt>
					<dd id="pprt-TarikhSiapProjek-<%%VALUE(ID)%%>" class="pprt-TarikhSiapProjek"><%%SELECT%%><%%VALUE(TarikhSiapProjek)%%><%%ENDSELECT%%></dd>

				</dl>
			</div>
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="pprt-jenis_binaan-caption field-caption-tv">Jenis Binaan</dt>
					<dd id="pprt-jenis_binaan-<%%VALUE(ID)%%>" class="pprt-jenis_binaan"><%%SELECT%%><%%VALUE(jenis_binaan)%%><%%ENDSELECT%%></dd>

					<dt class="pprt-skop-caption field-caption-tv">Jenis PPRT</dt>
					<dd id="pprt-skop-<%%VALUE(ID)%%>" class="pprt-skop"><%%SELECT%%><%%VALUE(skop)%%><%%ENDSELECT%%></dd>

					<dt class="pprt-Peta-caption field-caption-tv">Peta</dt>
					<dd id="pprt-Peta-<%%VALUE(ID)%%>" class="pprt-Peta"><%%SELECT%%><img src="<%%GOOGLEMAPTHUMB(Peta)%%>" style="max-width: 50px; max-height: 50px; " ><%%ENDSELECT%%></dd>

					<dt class="pprt-PeruntukanDiluluskan-caption field-caption-tv">Peruntukan </dt>
					<dd id="pprt-PeruntukanDiluluskan-<%%VALUE(ID)%%>" class="pprt-PeruntukanDiluluskan"><%%SELECT%%><%%VALUE(PeruntukanDiluluskan)%%><%%ENDSELECT%%></dd>

					<dt class="pprt-Kosprojek-caption field-caption-tv">Kos projek</dt>
					<dd id="pprt-Kosprojek-<%%VALUE(ID)%%>" class="pprt-Kosprojek"><%%SELECT%%><%%VALUE(Kosprojek)%%><%%ENDSELECT%%></dd>

					<dt class="pprt-Perbelanjaan-caption field-caption-tv">Perbelanjaan</dt>
					<dd id="pprt-Perbelanjaan-<%%VALUE(ID)%%>" class="pprt-Perbelanjaan"><%%SELECT%%><%%VALUE(Perbelanjaan)%%><%%ENDSELECT%%></dd>

					<dt class="pprt-penjimatan-caption field-caption-tv">penjimatan</dt>
					<dd id="pprt-penjimatan-<%%VALUE(ID)%%>" class="pprt-penjimatan"><%%SELECT%%><%%VALUE(penjimatan)%%><%%ENDSELECT%%></dd>

					<dt class="pprt-Peratus_siap-caption field-caption-tv">Peratus Siap Projek</dt>
					<dd id="pprt-Peratus_siap-<%%VALUE(ID)%%>" class="pprt-Peratus_siap"><%%SELECT%%><%%VALUE(Peratus_siap)%%><%%ENDSELECT%%></dd>

					<dt class="pprt-Status-caption field-caption-tv">Status</dt>
					<dd id="pprt-Status-<%%VALUE(ID)%%>" class="pprt-Status"><%%SELECT%%><%%VALUE(Status)%%><%%ENDSELECT%%></dd>

					<dt class="pprt-sumber_permohonan-caption field-caption-tv">Sumber Permohonan</dt>
					<dd id="pprt-sumber_permohonan-<%%VALUE(ID)%%>" class="pprt-sumber_permohonan"><%%SELECT%%><%%VALUE(sumber_permohonan)%%><%%ENDSELECT%%></dd>

					<dt class="pprt-catatan-caption field-caption-tv">Catatan</dt>
					<dd id="pprt-catatan-<%%VALUE(ID)%%>" class="pprt-catatan"><%%SELECT%%><%%VALUE(catatan)%%><%%ENDSELECT%%></dd>

					<dt class="pprt-gambar1-caption field-caption-tv">Gambar projek</dt>
					<dd id="pprt-gambar1-<%%VALUE(ID)%%>" class="pprt-gambar1"><a href="<%%BASE_UPLOAD_PATH%%><%%VALUE(gambar1)%%>" data-lightbox="pprt-gambar1"><img src="thumbnail.php?i=<%%VALUE(gambar1)%%>&t=pprt&f=gambar1&v=tv" class="img-thumbnail"></a></dd>

					<dt class="pprt-gambar2-caption field-caption-tv">Gambar projek</dt>
					<dd id="pprt-gambar2-<%%VALUE(ID)%%>" class="pprt-gambar2"><a href="<%%BASE_UPLOAD_PATH%%><%%VALUE(gambar2)%%>" data-lightbox="pprt-gambar2"><img src="thumbnail.php?i=<%%VALUE(gambar2)%%>&t=pprt&f=gambar2&v=tv" class="img-thumbnail"></a></dd>

					<dt class="pprt-gambar3-caption field-caption-tv">Gambar projek</dt>
					<dd id="pprt-gambar3-<%%VALUE(ID)%%>" class="pprt-gambar3"><a href="<%%BASE_UPLOAD_PATH%%><%%VALUE(gambar3)%%>" data-lightbox="pprt-gambar3"><img src="thumbnail.php?i=<%%VALUE(gambar3)%%>&t=pprt&f=gambar3&v=tv" class="img-thumbnail"></a></dd>

				</dl>
			</div>
		</td>
