<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the skop_jpd_init() hook (in hooks/skop_jpd.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="skop_jpd-skop_jpd-<%%VALUE(id)%%>" class="skop_jpd-skop_jpd"><%%SELECT%%><%%VALUE(skop_jpd)%%><%%ENDSELECT%%></td>
