<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the status_kelulusan_pams_init() hook (in hooks/status_kelulusan_pams.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="status_kelulusan_pams-pemohon-<%%VALUE(id)%%>" class="status_kelulusan_pams-pemohon"><%%SELECT%%><%%VALUE(pemohon)%%><%%ENDSELECT%%></td>
		<td id="status_kelulusan_pams-kelulusan-<%%VALUE(id)%%>" class="status_kelulusan_pams-kelulusan"><%%SELECT%%><%%VALUE(kelulusan)%%><%%ENDSELECT%%></td>
		<td id="status_kelulusan_pams-tarikh_kelulusan-<%%VALUE(id)%%>" class="status_kelulusan_pams-tarikh_kelulusan"><%%SELECT%%><%%VALUE(tarikh_kelulusan)%%><%%ENDSELECT%%></td>
		<td id="status_kelulusan_pams-pelulus-<%%VALUE(id)%%>" class="status_kelulusan_pams-pelulus"><%%SELECT%%><%%VALUE(pelulus)%%><%%ENDSELECT%%></td>
