<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the Syarikat_baru_init() hook (in hooks/Syarikat_baru.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="Syarikat_baru-Tahun_daftar-<%%VALUE(id)%%>" class="Syarikat_baru-Tahun_daftar text-right"><%%VALUE(Tahun_daftar)%%></td>
		<td id="Syarikat_baru-negeri-<%%VALUE(id)%%>" class="Syarikat_baru-negeri"><%%VALUE(negeri)%%></td>
		<td id="Syarikat_baru-daerah-<%%VALUE(id)%%>" class="Syarikat_baru-daerah"><%%VALUE(daerah)%%></td>
		<td id="Syarikat_baru-nama_pemilik-<%%VALUE(id)%%>" class="Syarikat_baru-nama_pemilik"><%%VALUE(nama_pemilik)%%></td>
		<td id="Syarikat_baru-nama_syarikat-<%%VALUE(id)%%>" class="Syarikat_baru-nama_syarikat"><%%VALUE(nama_syarikat)%%></td>
		<td id="Syarikat_baru-Alamat-<%%VALUE(id)%%>" class="Syarikat_baru-Alamat"><%%VALUE(Alamat)%%></td>
		<td id="Syarikat_baru-no_ssm-<%%VALUE(id)%%>" class="Syarikat_baru-no_ssm"><%%VALUE(no_ssm)%%></td>
		<td id="Syarikat_baru-no_cidb-<%%VALUE(id)%%>" class="Syarikat_baru-no_cidb"><%%VALUE(no_cidb)%%></td>
		<td id="Syarikat_baru-no_evendor-<%%VALUE(id)%%>" class="Syarikat_baru-no_evendor"><%%VALUE(no_evendor)%%></td>
		<td id="Syarikat_baru-email-<%%VALUE(id)%%>" class="Syarikat_baru-email"><%%VALUE(email)%%></td>
