<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the Syarikat_init() hook (in hooks/Syarikat.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="Syarikat-negeri-<%%VALUE(id)%%>" class="Syarikat-negeri"><%%VALUE(negeri)%%></td>
		<td id="Syarikat-nama_syarikat-<%%VALUE(id)%%>" class="Syarikat-nama_syarikat"><%%VALUE(nama_syarikat)%%></td>
		<td id="Syarikat-Alamat-<%%VALUE(id)%%>" class="Syarikat-Alamat"><%%VALUE(Alamat)%%></td>
		<td id="Syarikat-no_ssm-<%%VALUE(id)%%>" class="Syarikat-no_ssm"><%%VALUE(no_ssm)%%></td>
		<td id="Syarikat-no_cidb-<%%VALUE(id)%%>" class="Syarikat-no_cidb"><%%VALUE(no_cidb)%%></td>
		<td id="Syarikat-lantik_kplb-<%%VALUE(id)%%>" class="Syarikat-lantik_kplb"><%%VALUE(lantik_kplb)%%></td>
		<td id="Syarikat-Tahun_lantik-<%%VALUE(id)%%>" class="Syarikat-Tahun_lantik text-right"><%%VALUE(Tahun_lantik)%%></td>
		<td id="Syarikat-tarikh_dokumen-<%%VALUE(id)%%>" class="Syarikat-tarikh_dokumen"><%%VALUE(tarikh_dokumen)%%></td>
		<td id="Syarikat-tajuk_kerja-<%%VALUE(id)%%>" class="Syarikat-tajuk_kerja"><%%VALUE(tajuk_kerja)%%></td>
		<td id="Syarikat-kaedah_perolehan-<%%VALUE(id)%%>" class="Syarikat-kaedah_perolehan"><%%VALUE(kaedah_perolehan)%%></td>
		<td id="Syarikat-kos_projek-<%%VALUE(id)%%>" class="Syarikat-kos_projek"><%%VALUE(kos_projek)%%></td>
		<td id="Syarikat-blacklist-<%%VALUE(id)%%>" class="Syarikat-blacklist"><%%VALUE(blacklist)%%></td>
		<td id="Syarikat-catatan-<%%VALUE(id)%%>" class="Syarikat-catatan"><%%VALUE(catatan)%%></td>
